Source: pluto-vdr-plugin
Section: unknown
Priority: extra
Maintainer: root <root@fluffybitch.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://www.linuxmce.org

Package: pluto-vdr-plugin
Architecture: any
Depends: pluto-dcerouter, vdr-plugin-streamdev-server, vdr-plugin-streamdev-client, vdr-plugin-remotetimers, ${shlibs:Depends}, ${misc:Depends}
Description: LinuxMCE VDR Plugin
 DCERouter plugin that interacts with VDR
