<HTML>
<HEAD>
<meta http-equiv="Content-Language" content="en">        
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="Mon, 03 Jan 2000 00:00:01 GMT" />
<meta name="keywords" content="">
<meta name="description" content="">
{MetaTags}

<title>{Title}</title>		
	<FRAMESET cols="250,*" border="1"> 
  		<FRAME src="{LeftFrame}" name="treeframe" > 
  		<FRAME SRC="{RightFrame}" name="basefrm"> 
	</FRAMESET>	
</HTML>