<!--[if IE]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<![endif]-->

<html xmlns="http://www.w3.org/1999/xhtml"> 
<HEAD>

<meta http-equiv="Content-Language" content="en">        
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="Mon, 03 Jan 2000 00:00:01 GMT" />
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{MetaTags}
		
<title>{Title}</title>		
 {CssFile}
 {JavaScripts}
 {ScriptValidateSrc}
 

<script type="text/javascript">
function submitEnter(myfield,e)
{
	var keycode;
	if (window.event) keycode = window.event.keyCode;
	else if (e) keycode = e.which;
	else return true;
	
	if (keycode == 13)
	   {
	   myfield.form.submit();
	   //javascript:document.forms[\'loginForm\'].submit();
	   return false;
	   }
	else
	   return true;
}

function showSteps()
{
	top.treeframe.location='index.php?section=wizard';
}


</script>

{ScriptInHead}


<!--[if IE]>
<style type="text/css" media="screen">
 #menu ul li {float: left; width: 100%;}
</style>
<![endif]-->
<!--[if lt IE 7]>
<style type="text/css" media="screen">
body {
behavior: url(include/styles/csshover.htc);
font-size: 100%;
}

#menu ul li a {height: 1%;} 

#menu a, #menu h2 {
font: bold 11px arial, helvetica, sans-serif;
}
</style>
<![endif]-->


</HEAD>

<BODY {ScriptInBody}>
<table width="100%" style="z-index:100;" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td height="25" class="top_menu_back">{TopMenu}</td>
		<td width="30" align="right" class="top_menu_back"><a href="{HelpSrc}" target="_top" class="white_link">Help</a>&nbsp;</td>
	<tr>
</table>
<TABLE CELLPADDING=0 CELLSPACING=0 WIDTH="100%" border="0">
<TR>
	<TD COLSPAN=2 valign="top" height="25" align="right" class="main_top">
		&nbsp;&nbsp;&nbsp;<span>{NavigationMenu}	</TD>
</tr>
<tr>
	<TD colspan="2" height="83" align="left" valign="bottom" class="main_top">&nbsp;&nbsp;&nbsp;&nbsp;<span class="menu_title" width="100%">{MenuTitle} </span><span class="page_title">{PageTitle}</span></td>
</TR>
<tr>
	<td colspan="2" align="center" height="9" bgcolor="black"><img src="include/images/spacer.gif" border="0"></td>
</tr>
<TR>
	<TD COLSPAN=2 HEIGHT="600" valign="top" class="main_content main_background">
	<!-- content area-->	
	{Body}
	<!-- end content area-->	</TD>
</TR>
</TABLE>
</BODY>
</HTML>