Source: updatemedia
Section: unknown
Priority: extra
Maintainer: root <root@fluffybitch.org>
Build-Depends: debhelper (>= 7),libattr1-dev,libtag1-dev,libid3-3.8.3-dev
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: updatemedia
Architecture: any
Depends: mysql-server-4.1, pluto-pluto-media-db, pluto_media, imagemagick, libid3-3.8.3, mysql-server, libid3-3.8.3c2a, lmce-game-db, libpcrecpp0, lmce-autotagger, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
