Package: squeezeslave
Version: 0.9-133-svn172
Architecture: i386
Maintainer: LinuxMCE Developers <developers@linuxmce.org>
Installed-Size: 612
Depends: libasound2 (>> 1.0.17), libc6 (>= 2.7)
Section: unknown
Priority: optional
Description: a software implementation of the Squeezebox device
 <insert long description, indented with spaces>
