#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1


# This has to be exported to make some magic below work.
export DH_OPTIONS

-include /usr/share/dpatch/dpatch.make

PACKAGE=freepbx

# this hacks are been done for get-orig-source
DEBVERSION	:= $(shell head -n 1 debian/changelog | sed -e 's/^[^(]*(\([^)]*\)).*/\1/')
UPVERSION	:= $(shell echo $(DEBVERSION) | sed -e 's/^.*://' -e 's/-[0-9.]*$$//' -e 's/.dfsg$$//')
UPFILENAME	:= $(PACKAGE)_$(UPVERSION).orig.tar.gz
DEBFILENAME	:= $(PACKAGE)_$(UPVERSION).dfsg.orig.tar.gz

#URL:= http://surfnet.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz
#URL:= http://jaist.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz
#URL:= http://switch.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz
#URL:= http://kent.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz
#URL:= http://belnet.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz
#URL:= http://ovh.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz

#URL:= http://ufpr.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz
#URL:= http://puzzle.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz
URL:= http://superb-east.dl.sourceforge.net/sourceforge/amportal/$(PACKAGE)-$(UPVERSION).tar.gz

configure: configure-stamp
configure-stamp:
	touch configure-stamp

# this is done, since we patch the original files with binaries
# the trick is to package the patches as uuencoded text,
# and then on the build stage decode them
%: %.uu
	uudecode --output-file=$@ $<

IMAGES_BASE:=xorcom.png xorcom-ts1.png xorcom-rapid.png
IMAGES:=$(IMAGES_BASE:%=debian/rapid/%)

build: build-stamp
build-stamp: patch-stamp
build-indep: 
build-arch:

clean: clean-unpatched unpatch
clean-unpatched:
	dh_clean
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp #CONFIGURE-STAMP#
	rm -f $(IMAGES)
# 	rm -f debian/rapid/sounds/*.gsm
# 	rm -f amp_conf/mohmp3/*.wav*
	dh_clean 


install: install-indep
install-indep: $(IMAGES)
	dh_testdir
	dh_testroot
	dh_clean -k -i 	
	dh_installdirs -i
	dh_install -i
	
	dh_link -p freepbx-admin usr/share/freepbx/		usr/share/freepbx/admin
	dh_link -p freepbx-panel usr/share/op-panel/flash	usr/share/freepbx/panel
	dh_link -p freepbx-vmail usr/share/ari/			usr/share/freepbx/recordings
	dh_link -p freepbx-admin usr/share/freepbx/		var/www/amportal
	dh_link -p freepbx-admin usr/share/freepbx/		var/www/freepbx
	
#	to be obsoleted soon
	dh_link -p freepbx-admin usr/share/freepbx/		var/www/amportal

#	this file is only part of freepbx-admin, no need to install it on the default package
	rm -f debian/asterisk-config-freepbx/etc/asterisk/manager.d/freepbx.conf

#	these 2 are in separate packages
	rm -f debian/freepbx-admin/usr/share/freepbx/reports.php
	rm -f debian/freepbx-admin/usr/share/freepbx/panel.php

#	lets clean up the updates dir... deb keeps track of those things
	rm -f debian/freepbx-admin/usr/share/freepbx/admin/i18n/*.txt
	rm -f debian/freepbx-admin/usr/share/freepbx-common/upgrades/*.md5
	rm -f debian/freepbx-admin/usr/share/freepbx-common/upgrades/md5-amp_conf.sh
	
#	lintaian shouts
#	chmod -x debian/freepbx-admin/usr/share/freepbx-common/upgrades/2.1beta1/tables.php
#	chmod -x debian/freepbx-admin/usr/share/freepbx-common/upgrades/2.1beta3/tables.php
	
	chmod +x debian/freepbx-admin/usr/share/freepbx-common/apply_conf.sh                  
	chmod +x debian/freepbx-admin/usr/share/freepbx-common/freepbx-install-mysql.sh       
	chmod +x debian/freepbx-admin/usr/share/freepbx-common/freepbx-install-sqlite.sh      
	chmod +x debian/freepbx-admin/usr/share/freepbx-common/freepbx-post-reload            
	chmod +x debian/freepbx-admin/usr/share/freepbx-common/freepbx-module-status
	chmod +x debian/freepbx-admin/usr/share/freepbx-common/freepbx-remove-mysql.sh        
	chmod +x debian/freepbx-admin/usr/share/freepbx-common/freepbx-remove-sqlite.sh       	
	
# 	lintian does not handle this php4-cgi | php5-cgi now
	mkdir -p debian/freepbx-admin/usr/share/lintian/overrides/
	cp debian/lintian debian/freepbx-admin/usr/share/lintian/overrides/freepbx-admin
	mkdir -p debian/freepbx-agi/usr/share/lintian/overrides/
	cp debian/lintian debian/freepbx-agi/usr/share/lintian/overrides/freepbx-agi

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	dh_installdocs
	dh_installexamples
	dh_installinit
	dh_link
	dh_compress
	dh_fixperms
	dh_perl
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb


# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common


# Build architecture dependant packages using the common target.
#binary-arch: build-arch install-arch
#	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

upstream: get-orig-source
get-orig-source:
	@@dh_testdir
	@@[ -d ../tarballs/. ]||mkdir -p ../tarballs
	@@echo Downloading $(UPFILENAME) from $(URL) ...
	@@wget -N -nv -T10 -t3 -O ../tarballs/$(UPFILENAME) $(URL)

	tar xfz ../tarballs/$(UPFILENAME)
	mv $(PACKAGE)-$(UPVERSION) $(PACKAGE)-$(UPVERSION).tmp

#	mp3 are bad, lets convert them to wav
	for i in $(PACKAGE)-$(UPVERSION).tmp/amp_conf/mohmp3/*.mp3; do \
		j=`echo $$i | sed 's/\\.mp3//g'` ;\
		sox "$${i}" -w -c1 -t wav -r 8000 -t wav "$${j}-8khz.wav" resample -q ;\
		rm -f $$i ;\
	done

# jpgraph is problematic
	rm -f  $(PACKAGE)-$(UPVERSION).tmp/amp_conf/htdocs/admin/reports.php
	rm -fr $(PACKAGE)-$(UPVERSION).tmp/amp_conf/htdocs/admin/cdr

# repackage the new source
	cd $(PACKAGE)-$(UPVERSION).tmp ; \
	mkdir $(PACKAGE)_$(UPVERSION).dfsg;\
	mv -f * $(PACKAGE)_$(UPVERSION).dfsg; \
	tar cfz ../$(DEBFILENAME) *
	mv -f $(DEBFILENAME) ../tarballs
	echo Cleaning up...
	$(RM) -rf $(PACKAGE)-$(UPVERSION).tmp/

binary: binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch configure patch unpatch
