Package: libuutil1
Source: zfs-linux
Version: 0.6.5.9-1~trusty
Architecture: amd64
Maintainer: Darik Horn <dajhorn@vanadac.com>
Installed-Size: 97
Depends: zfs-doc, libc6 (>= 2.14), libuuid1 (>= 2.16), zlib1g (>= 1:1.1.4)
Replaces: libuutil0
Section: libs
Priority: extra
Description: Solaris userland utility library for Linux
 This library provides a variety of glue functions for OpenZFS on Linux:
  * libspl: The Solaris Porting Layer library, which provides APIs that make it
 possible to run Solaris user code in a Linux environment with relatively
 minimal modification.
  * libavl: The Adelson-Velskii Landis balanced binary tree manipulation
 library.
  * libefi: The Extensible Firmware Interface library for GUID disk
 partitioning.
  * libshare: NFS and SMB service integration for OpenZFS.
