Package: zfs-doc
Source: zfs-linux
Version: 0.6.5.9-1~trusty
Architecture: amd64
Maintainer: Darik Horn <dajhorn@vanadac.com>
Installed-Size: 214
Section: doc
Priority: extra
Description: Native OpenZFS filesystem documentation and examples.
 Shared boilerplate files for OpenZFS on Linux that are not required at runtime.
