<a href="index.php"> &lt;&lt; Back to index</a>
<form name="bug_option" method="POST" action="bug_options.php">
	<INPUT type="hidden" name="action" value="{action}">
	<INPUT type="hidden" name="id" value="{id}">
<table>
	<tr>
			<td colspan="2" class="cat_title"><B>{form_title}</B></td>
		</tr>
		<tr>
			<td colspan="2" class="err">{form_error}</td>
		</tr>		
		<tr>
			<td>Bug option</td>
			<td><input type="text" name="bug_option" value="{bug_option}"></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><INPUT type="submit" name="save" value="{form_title}"></td>
		</tr>
</table>
</form>
