<a href="javascript:history.back();"> &lt;&lt; Back</a>
<table>
		<tr>
			<td colspan="2" class="cat_title"><B>{title}</B></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>		
		<tr>
			<td><B>Incident info</B></td>
		</tr>
		<tr>
			<td>Date</td>
			<td>{date_reported}</td>
		</tr>
		<tr>
			<td>Title</td>
			<td>{title}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{description}</td>
		</tr>
		<tr>
			<td>Resolution</td>
			<td>{resolution}</td>
		</tr>		
		<tr>
			<td>Ticket report</td>
			<td>{bug_report}</td>
		</tr>
		<tr>
			<td>Result</td>
			<td>{bug_result}</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>{status}</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>{contacts_label}</td>
			<td>{contacts_table}</td>
		</tr>
	</table>
