<TABLE bgcolor="#EEEEEE">
	<tr>
		<td><B>Support area</B></td>
	</TR>
	<tr>
		<td>&nbsp;</td>
	</TR>
	<tr>
		<td><a href="logout.php">Logout</a></td>
	</TR>
	<tr>
		<td>&nbsp;</td>
	</TR>
	<tr>
		<td><B>Ticket flags</B></td>
	</TR>
	<tr>
		<td><a href="bug_results.php">- Ticket categories</a></td>
	</TR>	
	<tr>
		<td>&nbsp;</td>
	</TR>	
	<tr>
		<td><B>Tickets</B></td>
	</TR>
	<tr>
		<td><a href="incidents.php">- View Tickets</a></td>
	</TR>
	<tr>
		<td><a href="add_incident.php">- Add ticket</a></td>
	</TR>
	<tr>
		<td height="200"></td>
	</TR>
	
</TABLE>