<form action="" method="post" target="_self">
<input type="hidden" name="back" value="{back}">
<br><div align="center"><B>Login</B><br>
<a href="incidents.php">View incidents</a></div>
<br>
<table border="0" cellspacing="0" cellpadding="1" align="center">
          <tr>
            <td colspan="2" align="center" class="err">{login_error}</td>
          </tr>
          <tr>
            <td>Username</td>
            <td><input name="user" type="text" id="user" /></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input name="pass" type="password" id="pass" /></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><INPUT type="submit" name="login" value="Login"></td>
          </tr>
        </table></form>