[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Upgrade to LinuxMCE 0710
Comment=Prepare the system for upgrading to next version of LinuxMCE
Exec=gksu /usr/share/gutsy-upgrade-scripts/scripts/upgrade-prepare.sh
Icon=down.png
StartupNotify=true
Terminal=true
Type=Application
Categories=GNOME;Application;Accessories

