#!/usr/bin/make -f

DEB_TAR_SRCDIR = libdvdcss-1.2.9
DEB_DH_INSTALL_SOURCEDIR = debian/tmp
DOC_DIR = $(DEB_DH_INSTALL_SOURCEDIR)/usr/share/doc/libdvdcss2-dev

include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

install/libdvdcss2-dev::
	mkdir -pv $(DOC_DIR)
	cp -r $(DEB_SRCDIR)/doc/html $(DOC_DIR)/
	cp $(DEB_SRCDIR)/doc/latex/refman.ps $(DOC_DIR)/libdvdcss.ps
