<?xml version="1.0"?>
<orbiter>
    <firstrun id="true" />
    <routerip id="ballfam.dyndns-home.com"/>
    <externalip id="" />
    <externalhost id=""/>
    <device id="251"/>
    <routeraddress id="DCEROUTER"/>
    <skin id="default"/>
    <enablescreensavermode id="false"/>
    <defaultview id="flat"/>
    <phone id="false"/>
    <networkload id="true" />
    <debug id="true"/>
</orbiter>
