<?xml version="1.0"?>
<orbiter>
<firstrun id="true" />
<routerip id="192.168.80.1"/>
<routerport id="80" />
<externalip id="" />
<externalhost id=""/>
<device id="-1"/>
<routeraddress id=""/>
<skin id="default"/>
<qt5skin id="default"/>
<enablescreensavermode id="false"/>
<defaultview id="flat"/>
<phone id="1"/>
<mobile_storage id=""/>
<networkload id="true" />
<debug id="false"/>
<lastconnect id="internal" />
</orbiter>
