Package: libzpool2
Source: zfs-linux
Version: 0.6.5.9-1~trusty
Architecture: amd64
Maintainer: Darik Horn <dajhorn@vanadac.com>
Installed-Size: 1264
Depends: zfs-doc, libc6 (>= 2.14), libnvpair1, libuutil1, zlib1g (>= 1:1.1.4)
Replaces: libzpool0, libzpool1
Section: libs
Priority: extra
Description: Native OpenZFS pool library for Linux
 The zpool management library.
