Source: icewm
Section: x11
Priority: optional
Maintainer: Eduard Bloch <blade@debian.org>
Uploaders: Jerome Marant <jerome@debian.org>
Build-Depends: debhelper (>> 4.0.0), libxrender-dev, imlib1-dev (>= 1.9.14-15), libgnome-dev, libgnome2-dev, libgnome-desktop-dev, gettext, xutils, libxft-dev (>> 2.1.1) | libxft2-dev, dpatch, libesd0-dev, libtiff4-dev
Build-Conflicts: libttf-dev
Standards-Version: 3.6.1.1

Package: icewm-common
Architecture: any
Conflicts: menu (<< 2.1.9-1)
Replaces: icewm (<< 1.2.14)
Suggests: icewm-themes, icepref, iceme, grun, xlockmore
Recommends: menu
Description: wonderful Win95-OS/2-Motif-like window manager
 IceWm is a Window Manager for X Window System. Can emulate the look of
 Windows'95, OS/2 Warp 3,4, Motif. Tries to take the best features of the above
 systems.
 Features multiple workspaces, opaque move/resize, task bar, window list,
 mailbox status, digital clock. Fast and small.
 .
 This package provides the common files for icewm, icewm-gnome and
 icewm-lite binary packages.

Package: icewm
Architecture: any
Depends: icewm-common (= ${Source-Version}), ${shlibs:Depends}
Suggests: icewm-gnome-support
Provides: x-window-manager
Description: wonderful Win95-OS/2-Motif-like window manager
 IceWm is a Window Manager for X Window System. Can emulate the look of
 Windows'95, OS/2 Warp 3,4, Motif. Tries to take the best features of the above
 systems.
 Features multiple workspaces, opaque move/resize, task bar, window list,
 mailbox status, digital clock. Fast and small.
 .
 GNOME support files can be found in the `icewm-gnome-support' package.
 .
 Extra themes are available from the icewm-themes package.

Package: icewm-gnome
Section: gnome
Architecture: any
Depends: icewm-common (= ${Source-Version}), icewm (= ${Source-Version}), icewm-gnome-support (= ${Source-Version})
Recommends: gnome-core
Provides: x-window-manager
Description: wonderful Win95-OS/2-Motif-like window manager
 IceWm is a Window Manager for X Window System. Can emulate the look of
 Windows'95, OS/2 Warp 3,4, Motif. Tries to take the best features of the above
 systems.
 Features multiple workspaces, opaque move/resize, task bar, window list,
 mailbox status, digital clock. Fast and small.
 .
 This package only exists for upgrade purpose, since GNOME menu
 support is now provided as an external executable named
 `icewm-menu-gnome1' which can be found in the `icewm-gnome-support'
 package.
 .
 Extra themes are available from the icewm-themes package.

Package: icewm-gnome-support
Section: gnome
Architecture: any
Depends: icewm-common (= ${Source-Version}), ${shlibs:Depends}
Conflicts: gnome-control-center (<< 1:2.0)
Description: GNOME support files for IceWM
 This package provides all files needed for IceWM to enable GNOME
 related features.
 .
 What used to be compile-time options for GNOME menu support is now
 provided separate executables named `icewm-menu-gnome1' (for the Gnome 1.*
 generation) and `icewm-menu-gnome2' (for the current Gnome 2.* generation).

Package: icewm-lite
Architecture: any
Depends: icewm-common (= ${Source-Version}), ${shlibs:Depends}
Provides: x-window-manager
Description: wonderful Win95-OS/2-Motif-like window manager
 IceWm is a Window Manager for X Window System. Can emulate the look of
 Windows'95, OS/2 Warp 3,4, Motif. Tries to take the best features of the above
 systems.
 Features multiple workspaces, opaque move/resize, task bar, window list,
 mailbox status, digital clock. Fast and small.
 .
 This package provides a minimal icewm binary, with no support for
 taskbar and antialiased fonts.
 .
 Extra themes are available from the icewm-themes package.

Package: icewm-experimental
Architecture: any
Depends: icewm-common (= ${Source-Version}), icewm-gnome-support (= ${Source-Version}), ${shlibs:Depends}
Recommends: gnome-core
Provides: x-window-manager
Description: wonderful Win95-OS/2-Motif-like window manager
 Window Manager for X Window System. Can emulate the look of Windows'95,
 OS/2 Warp 3,4, Motif. Tries to take the best features of the above systems.
 Features multiple workspaces, opaque move/resize, task bar, window list,
 mailbox status, digital clock. Fast and small.
 .
 This is the experimental version of IceWM. It contains some additional
 experimental features, including antialiasing of icons, support for
 sound events and gradients.
 .
 GNOME support files can be found in the `icewm-gnome-support' package.
 .
 Extra themes are available from the icewm-themes package.
