Source: myththemes
Section: graphics
Priority: optional
Maintainer: Christian Marillat <marillat@debian.org>
Bugs: mailto:marillat@debian.org
Homepage: http://www.mythtv.org/
Standards-Version: 3.8.4
Build-Depends: debhelper (>> 7)

Package: mythtv-themes
Architecture: all
Depends: mythtv-frontend (>= 0.23), ${misc:Depends}, ttf-dustin, ttf-bitstream-vera
Suggests: msttcorefonts
Replaces: mythtv-frontend (<< 0.18-1), mythtv-common (<= 0.21.svn20090824-0.4)
Description: Additional themes for MythTV
 o Arclight
 o blootube-osd
 o blueosd
 o Graphite
 o Iulius-OSD
 o metallurgy
 o Mono-OSD
 o Mythbuntu
 o ProjectGrayhem-OSD
 o Retro-OSD
 o Titivillus-OSD
