#!/usr/bin/make -f

#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	rm debian/mythtv-themes/usr/share/mythtv/themes/Graphite/LICENSE \
	debian/mythtv-themes/usr/share/mythtv/themes/Arclight/LICENSE \
	debian/mythtv-themes/usr/share/mythtv/themes/Childish/COPYING
	find debian/mythtv-themes/usr/share  -type f -exec chmod 0644 {} \;
	dh_installdocs README
	dh_installchangelogs 
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb -- -Zbzip2

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
