*.d
*.a
*.o
moc_*.cpp
*.moc
*.so
*.so.*
*.orig
*.rej
*kdev*
*.def
*.dylib
*~
*.pc
*.core
*.exe
*.dll
*.lib
*.ilk
*.obj
*.suo
*.sln
*.sdf
*.exp
*.pdb
*.res
*.user
*.manifest
.directory
src/version.h
builder.custom.conf
builder.key
builder.key.pub
