<module>
	<rawname>featurecodeadmin</rawname>
	<name>Feature Code Admin</name>
	<version>1.0.4</version>
	<type>setup</type>
	<category>Basic</category>
	<menuitems>
		<featurecodeadmin>Feature Codes</featurecodeadmin>
	</menuitems>
	<changelog>
		*1.0.4* Add support for duplicate feature codes
		*1.0.3* Add he_IL translation
		*1.0.2* Fix minor font/display issues
	</changelog>
	<location>release/2.2/featurecodeadmin-1.0.3.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-FeatureCodeAdmin</info>
	<md5sum>e2c8211003d680c4c85070b502029ed0</md5sum>
</module>
