Source: lmce-hulu-plugin
Section: unknown
Priority: extra
Maintainer: root <root@fluffybitch.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: lmce-hulu-plugin
Architecture: any
Depends: libmysqlclient14, pluto-dcerouter, libstdc++5, pluto-dcecommon, pluto-plutoutils, dcerouter, dcecommon, plutoutils, pluto-serializeclass, libserializeclass, libmysqlclient15off, libmysqlclient16, libstdc++6, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
