[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Qt5Android
Exec=/usr/bin/single-instance /opt/Qt5Android/bin/Qt5Android
Icon=/usr/share/icons/hicolor/80x80/apps/Qt5Android80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
