Source: spcp8x5
Section: unknown
Priority: extra
Maintainer: Radu Cristescu <radu.c@plutohome.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: spcp8x5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
