body {
        background: #ffffff;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;

        scrollbar-face-color: #9dbbd3; //culoare bara
        scrollbar-3Dlight-color: #ffffff; //dunga interior
        scrollbar-shadow-color: #FFFFff; //umbra bara (3d - luminos)
        scrollbar-darkshadow-color: #ffffff; //dunga exterior (3d - intunecat)
        scrollbar-arrow-color: #ffffff;
        scrollbar-track-color: #ffffff; //fundal bara (=inactiv)
        }


/* zona meniu - login  */

.login_box{
		color: #999999;
		background: #ffffff;
		border-style: solid;
		border-width: 1px;
		border-color: #999999;
		font-family: verdana;
		font-size: 8pt;
		font-weight: regular;
		width: 120px;
		vertical-align: top;
		}


.text_menu{
	    font-family: trebuchet, tahoma, verdana;
		font-weight: bold;
        font-size: 8pt;
        color: #ffffff;
        text-decoration: none;
		line-height: 10pt;    
		}

.text_menu:hover{
        color: #ffffff;
        text-decoration: underline;
		}

.text_menu3{
	    font-family: trebuchet, tahoma, verdana;
		font-weight: bold;
        font-size: 8pt;
        color: #929292;
        text-decoration: none;
		line-height: 25pt;    
		}

.text_menu3:hover{
        color: #929292;
        text-decoration: underline;
		}
		
.text_menu_left{
	    font-family: trebuchet, tahoma, verdana;
		font-weight: bold;
        font-size: 8pt;
        color: #000000;
        text-decoration: none;
		line-height: 10pt;    
		}

.text_menu_left:hover{
        color: #000000;
        text-decoration: underline;
		}		
/* end zona meniu - login  */



/* zona continut  */


td.content{
		padding: 5px;
		}

td.mortgage{
		padding-right: 15px;
		padding-left: 5px;
		}

.text{
	    font-family: verdana;
		font-weight: regular;
        font-size: 8pt;
        color: #929292;
        text-decoration: none;
		line-height: 10pt;    
		}

.title{
	    font-family: verdana;
		font-weight: bold;
        font-size: 8pt;
        color: #666666;
        text-decoration: none;
		line-height: 10pt;    
		}

.search_box{
		color: #999999;
		background: #ffffff;
		border-style: solid;
		border-width: 1px;
		border-color: #999999;
		font-family: verdana;
		font-size: 8pt;
		font-weight: regular;
		width: 180px;
		}
.link{
	    font-family: verdana;
		font-weight: regular;
        font-size: 8pt;
        color: #929292;
        text-decoration: underline;
		line-height: 10pt;    
		}

.link:hover {
		text-decoration: none;
		}

div#buttons{
        left: 630px;
        top: 25px;
        position: absolute;
        z-index: 2;
        }
        
/* for admin */

body.admin {    
	BACKGROUND: #ffffff;
}

.tabletitle {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13pt;
	COLOR: #ffffff;
	FONT-FAMILY: verdana;
}

.formtable {
	padding: 3px;
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
}
.formtext {
	FONT-WEIGHT: bold;
	FONT-SIZE: 7pt;
	COLOR: #666666;
	FONT-FAMILY: verdana;
}
.long {
	BORDER-RIGHT: #C2C2C2 1px solid;
	BORDER-TOP: #C2C2C2 1px solid;
	FONT-SIZE: 7pt;
	BACKGROUND: #ffffff;
	BORDER-LEFT: #C2C2C2 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #C2C2C2 1px solid;
	FONT-FAMILY: verdana; 
}

.row_pink{
	FONT-WEIGHT: regular;
	FONT-SIZE: 7pt;
	COLOR: black;
	FONT-FAMILY: verdana;
	background: #FFCCCC;
}

.row_green{
	FONT-WEIGHT: regular;
	FONT-SIZE: 7pt;
	COLOR: black;
	FONT-FAMILY: verdana;
	background: #CCFFCC;
}

.row_blue{
	FONT-WEIGHT: regular;
	FONT-SIZE: 7pt;
	COLOR: black;
	FONT-FAMILY: verdana;
	background: #CCFFFF;
}

.rowLight{
	FONT-WEIGHT: regular;
	FONT-SIZE: 7pt;
	COLOR: black;
	FONT-FAMILY: verdana;
	background: #ededed;
}

.rowDark{
	FONT-WEIGHT: regular;
	FONT-SIZE: 7pt;
	COLOR: black;
	FONT-FAMILY: verdana;
	background: #dadada;
}

.tableheaderdraga{
   FONT-WEIGHT: bold;
   FONT-SIZE: 10px;   
   COLOR: #FFFFFF;
   FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
   POSITION: relative;
   TEXT-DECORATION: none;
} 
.tableheaderdragaLink{
   FONT-SIZE: 11px;   
   COLOR: #FFFFFF;
   text-decoration: none;
}
.tdtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
} 

.trHeader {
    BACKGROUND-COLOR: #CC0000
} 

.small_tkg {
    COLOR: #004377;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
} 

.rowLight{background-color: #f3f3f3}
.rowDark{background-color: #e6e6e6} 
.rowHighlight{background-color: #a1a1a1}
.rowHover{background-color: #d2d2d2}

.tablecontent {
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 12px
}  

.table_head{
	FONT-WEIGHT: bold;
	FONT-SIZE: 7pt;
	COLOR: #666666;
	FONT-FAMILY: verdana;
	background: #f5f5f5;
}

/*
users tabs
*/

.content_cell {
	
	border-top: 2px solid #ED7902;
	border-bottom: 2px solid #ED7902;
	border-left: 2px solid #ED7902;
	border-right: 2px solid #ED7902;
			}


.content_tab {
	
	border-top: 2px solid #4B79B6;
	border-bottom: 2px solid #4B79B6;
	border-left: 2px solid #4B79B6;
	border-right: 2px solid #4B79B6;
			}

.title_warning {
	font-family: verdana;
	font-size: 10px;
	color: white;
	text-decoration: none;
	}


.title_tab_active{
	font-family: verdana;
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
	}

.title_tab_active:hover{
	color: #E2EAE3;
	}

.title_tab_inactive{
	font-family: verdana;
	font-size: 10px;
	color: #3C6192;
	text-decoration: none;
	}

.title_tab_inactive:hover{
	color: #707070;
}

.small_tkg {
    COLOR: #004377;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: normal
}