<settings 
	autoResize="true"
	playerWidth="500"
	playerHeight="350"
	
	autoPlay = "false"
	loop = "true"
	
	volume = "50"
	controlsPadding = "10"
	keepAspectRatio = "true"
	
	showPreviewImage = "true"
	showShare = "false"
	showFullScreenButton = "true"
	showMiddlePlayButton = "true"
	
	spaceKeyListener = "true"
	clickListener = "true"
	
	showWatermark = "true"
	
	aspectRatio = "4:3"
	totalTime = "158"
>
		
	<video id="001" flv="http://10.0.2.5/pluto-lite/server/videos/video1.flv" previewImage="http://10.0.2.5/pluto-lite/server/images/thumb.jpg"/>
</settings>