Package: linux-image-dummy
Version: 2.66
Section: unknown
Priority: optional
Architecture: all
Installed-Size: 5796
Provides: linux-image, linux-image-2.6, linux-image-2.6.20-15-generic, linux-image-2.6.20-15-386, linux-image-2.6.20-15-amd64
Maintainer: LinuxMCE Team <webpaul1@gmail.com>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
