#d-i				partman-auto/choose_recipe		select Desktop machine
d-i				partman-auto/expert_recipe		string boot-root :: 300 4000 7000 ext3 $primary{ } $bootable{ } method{ format } format{ } use_filesystem{ } filesystem{ ext3 } mountpoint{ / } . 64 512 300% linux-swap method{ swap } format{ } . 100 10000 1000000000 ext3 method{ keep } format{ } use_filesystem{ } filesystem{ ext3 } mountpoint{ /home } .
d-i				netcfg/get_hostname				string dcerouter
d-i				netcfg/get_domain				string pluto
#d-i				grub-installer/with_other_os	boolean true
#d-i				debian-installer/framebuffer	boolean false
#d-i				grub-installer/skip				boolean true

passwd			passwd/make-user				boolean false

#base-config		apt-setup/uri_type				select http
#base-config		apt-setup/hostname				string deb.plutohome.com
#base-config		apt-setup/directory				string /debian

base-config		apt-setup/uri_type				select filesystem
base-config		apt-setup/directory				string /usr/pluto/deb-cache

base-config		apt-setup/contrib				boolean false
base-config		apt-setup/non-free				boolean false

exim4-config	exim4/dc_eximconfig_configtype	select local delivery only; not on a network

debconf			debconf/frontend				select Noninteractive
debconf			debconf/priority				select critical
