<module>
	<rawname>miscapps</rawname>
	<name>Misc Applications</name>
	<version>0.2</version>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>
		Adds the ability to create feature codes that can go to any freePBX destination (such as an IVR or queue)
	</description>
	<changelog>
		*0.2* Fix bug with adding new apps
	</changelog>
	<menuitems>
		<miscapps>Misc Applications</miscapps>
	</menuitems>
	<location>release/2.2/miscapps-0.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-MiscApplications</info>
	<md5sum>6023f134dd505ea631d08750804de226</md5sum>
</module>
