#
# Sample configuration file for ISC dhcpd for Debian
#
# $Id: dhcpd.conf,v 1.4.2.2 2002/07/10 03:50:33 peloy Exp $
#

# option definitions common to all supported networks...
option domain-name-servers %CORE_INTERNAL_ADDRESS%;
option voip-tftp-server code 150 = ip-address;
option voip-tftp-server %CORE_INTERNAL_ADDRESS%;
authoritative;

ddns-update-style interim;
ddns-updates on;
ddns-domainname "%INTERNAL_DOMAIN_NAME%";
ddns-rev-domainname "in-addr.arpa.";
update-static-leases on;
allow unknown-clients;
use-host-decl-names on;


include "/etc/bind/rndc.key";

# Use what key in what zone
zone %INTERNAL_DOMAIN_NAME%. {
	primary 127.0.0.1;
	key "rndc-key";
}

option domain-name "%INTERNAL_DOMAIN_NAME%";


option routers %CORE_INTERNAL_ADDRESS%;
option subnet-mask %INTERNAL_SUBNET_MASK%;

# lease IPs for 1 day, maximum 1 week
default-lease-time 86400;
max-lease-time 604800;

allow booting;
allow bootp;

option space pxelinux;
option pxelinux.magic code 208 = string;
option pxelinux.configfile code 209 = text;
option pxelinux.pathprefix code 210 = text;
option pxelinux.reboottime code 211 = unsigned integer 32;

subnet %INTERNAL_SUBNET% netmask %INTERNAL_SUBNET_MASK% {
	next-server %CORE_INTERNAL_ADDRESS%;
	filename "/tftpboot/pxelinux.0";
	option pxelinux.reboottime = 30;

	# "Raspberry Pi Boot"
	option vendor-encapsulated-options
		06:01:03:0A:04:00:50:58:45:09:14:00:00:11:52:61:73:70:62:65:72:72:79:20:50:69:20:42:6F:6F:74:FF;

	default-lease-time 86400;
	max-lease-time 604800;
	%DYNAMIC_IP_RANGE%
	zone   %DYNAMIC_REVERSE_RANGE%.in-addr.arpa. {
		primary localhost;
		key	"rndc-key";
	}
	zone    %INTERNAL_DOMAIN_NAME%. {
		primary localhost;
		key	"rndc-key";
	}

}

# PXE booting machines
group {
	next-server %CORE_INTERNAL_ADDRESS%;
	filename "/tftpboot/pxelinux.0";
	option pxelinux.reboottime = 30;

	%MOON_ENTRIES%
}

# regular machines
group {
	%NOBOOT_ENTRIES%
}

# The following machines did not have a valid MAC address assigned in the database.
# You may want to correct this manually via the web admin.
%NOMAC_ENTRIES%

# Custom additions to the dhcpd conf file should be maintained in this 
# extra file.
include "/etc/dhcp/dhcpd-extra.conf";

