# /etc/fstab: static file system information.
#
# <file system> <mount point>   <type>  <options>               <dump>  <pass>
proc            /proc           proc    defaults                0       0
/dev/fd0        /floppy         auto    user,noauto             0       0
/dev/cdrom      /cdrom          iso9660 ro,user,noauto          0       0
#/swap.file none swap sw 0 0

#%CORE_INTERNAL_ADDRESS%:/mnt/media /mnt/media nfs intr,tcp 1 1
#%CORE_INTERNAL_ADDRESS%:/u/home/.dvdcss /root/.dvdcss nfs rsize=8192,wsize=8192,intr,tcp 1 1
%CORE_INTERNAL_ADDRESS%:/usr/pluto/diskless/%MOON_IP% / nfs intr,tcp,rsize=8192,wsize=8192,retrans=10,timeo=50 1 1
%CORE_INTERNAL_ADDRESS%:/home /home nfs intr,tcp,rsize=8192,wsize=8192,retrans=10,timeo=50 1 1
%CORE_INTERNAL_ADDRESS%:/usr/pluto/orbiter /usr/pluto/orbiter nfs intr,tcp,rsize=8192,wsize=8192,retrans=10,timeo=50 1 1
%CORE_INTERNAL_ADDRESS%:/usr/pluto/keys /usr/pluto/keys nfs intr,tcp,rsize=8192,wsize=8192,retrans=10,timeo=50 1 1
%CORE_INTERNAL_ADDRESS%:/usr/pluto/deb-cache /usr/pluto/deb-cache nfs intr,tcp,rsize=8192,wsize=8192,retrans=10,timeo=50 1 1
#%CORE_INTERNAL_ADDRESS%:/var/cache/apt/archives /var/cache/apt/archives nfs intr,tcp 1 1
