/var/log/pluto/*.log /var/log/pluto/*.newlog {
	rotate 7
	daily
	compress
	delaycompress
	missingok
	
	sharedscripts
	prerotate
		cumulativeLogFile="/var/log/pluto/CumulativeSpawn.log"
		for logfile in /var/log/pluto/Spawn_*.log ;do
			[ -r $logfile ] || continue	

			echo "Processing  $logfile ..."
			echo 			>> $cumulativeLogFile
			echo " FILE: $logfile " >> $cumulativeLogFile
			cat "$logfile"		>> $cumulativeLogFile

			rm -f "$logfile"
		done
		
		cumulativeLogFile="/var/log/pluto/CumulativeSpawnDaemon.log"
		for logfile in /var/log/pluto/SpawnDaemon_*.log ;do
			[ -r $logfile ] || continue
			
			echo "Processing $logfile ..."
			echo 			>> $cumulativeLogFile
			echo " FILE: $logfile "	>> $cumulativeLogFile
			cat $logfile 		>> $cumulativeLogFile

			rm -f "$logfile"
		done
	endscript
	postrotate
		/usr/pluto/bin/MessageSend dcerouter 0 -1000 7 10 || :
		killall -USR1 tee-pluto || :

                for logfile in /var/log/pluto/Spawn_*.log ;do
                        rm -f "$logfile"
                done

                for logfile in /var/log/pluto/SpawnDaemon_*.log ;do
                        rm -f "$logfile"
                done
	endscript
}
