DEFAULT Pluto
LABEL Pluto
	KERNEL %MOON_ADDRESS%/vmlinuz-%KERNEL_VERSION%
	APPEND root=/dev/nfs acpi=off vga=normal initrd=%MOON_ADDRESS%/initrd.img-%KERNEL_VERSION% ramdisk_size=10240 rw nfsroot=%CORE_INTERNAL_ADDRESS%:/usr/pluto/diskless/%MOON_ADDRESS% ip=dhcp 
