[global]
   workgroup = pluto
   server string = %h server (Samba %v)
   invalid users = root
   log file = /var/log/samba/log.%m
   max log size = 1000
   syslog = 0
   encrypt passwords = true
   socket options = TCP_NODELAY
   dns proxy = no
   passwd program = /usr/bin/passwd %u
   passwd chat = *Enter\snew\sUNIX\spassword:* %n\n *Retype\snew\sUNIX\spassword:* %n\n .
   username map = /etc/samba/usermap.txt

[public]
   comment = public files
   browseable = yes
   writable = yes
   create mask = 0770
   directory mask = 0770
   path = /home/public/data
   public = no

