[global]
ipsec saref = yes

[lns default]
ip range = %VPN_IP_RANGE%
local ip = %CORE_INT_IP%
require pap = yes
unix authentication = yes
require authentication = yes
name = LinuxMCE_VPN_Server
ppp debug = yes
pppoptfile = /etc/ppp/options.xl2tpd
length bit = yes
