CONFIG
	FORMAT	cpio
	TEMPLATE FILE "/etc/yaird/Templates.cfg"
	GOALS
		TEMPLATE	prologue
		#OPTIONAL MODULE fbcon
		INPUT
		MODULE		mousedev
		MODULE		evdev		
		NETWORK
		MODULE		nfs
		MODULE		af_packet
		TEMPLATE	nfsstart
		TEMPLATE	postlude
	END GOALS
END CONFIG
