#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.
# adapted for xine-lib 2001 by Siggi Langauf
# rewritten for new package structure December 2006 by Reinhard Tartler

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

BINARY_ANY_PACKAGES=libxine1-pluto \
	libxine1-pluto-ffmpeg libxine1-pluto-gnome libxine1-pluto-console

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_ARCH	    ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifneq ($(DEB_HOST_GNU_TYPE),$(DEB_BUILD_GNU_TYPE))
  $(error cross compiling is not supported by xine)
endif

# predefine as empty
DEB_BUILD_CONFIG_OPTIONS :=

include /usr/share/dpatch/dpatch.make

CFLAGS += -g

# add if we don't want optimisations
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
	DEB_BUILD_CONFIG_OPTIONS += --disable-optimizations
endif

ifneq (,$(findstring mips,$(DEB_HOST_GNU_TYPE)))
	DEB_BUILD_CONFIG_OPTIONS += PTHREAD_LIBS="-lpthread"
endif

# set configure flags here
CONFIGURE_FLAGS := \
	--prefix=/opt/libxine \
	--mandir=\$${prefix}/share/man \
	--with-external-libmad \
	--with-external-a52dec \
	--with-external-libdts \
	--with-external-libmpcdec \
	--with-libflac \
	--disable-vidix \
	--enable-directfb \
	$(DEB_BUILD_CONFIG_OPTIONS) \
	$(DEB_EXTRA_CONFIG_FLAGS) \
	CFLAGS="$(CFLAGS)"

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure $(CONFIGURE_FLAGS)
	touch configure-stamp

build: patch configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -vf build-stamp configure-stamp install-stamp po/*.gmo po/stamp-po binary-*-stamp all-files-stamp
	rm -vf debian/libxine1-pluto.install.i386 config.h
	-$(MAKE) distclean
	dh_clean
	rm -vf a.out # something in the configure scripts seems to leave this over...

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp \
			LIBRARY_PATH=$(CURDIR)/debian/tmp/opt/libxine/lib
	-(cd debian/tmp ; find .) | sort | uniq > $@

binary-common: build install
	@echo working on $(DH_OPTIONS)
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
#	dh_installman
	dh_installchangelogs -k ChangeLog
	dh_link
	dh_strip --dbg-package=libxine1-pluto-dbg
	dh_compress
	dh_fixperms
	dh_makeshlibs -V 'libxine1-pluto (>= 1.1.4)'
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# special rules for the -dbg package.
binary-libxine1-pluto-dbg: build install
	@echo working on $@
	dh_testdir           -plibxine1-pluto-dbg
	dh_testroot	     -plibxine1-pluto-dbg
	dh_install 	     -plibxine1-pluto-dbg
	dh_installchangelogs -plibxine1-pluto-dbg
	dh_installdocs	     -plibxine1-pluto-dbg
	dh_link              -plibxine1-pluto-dbg
	dh_compress 	     -plibxine1-pluto-dbg
	dh_fixperms 	     -plibxine1-pluto-dbg
	dh_installdeb 	     -plibxine1-pluto-dbg
	dh_shlibdeps 	     -plibxine1-pluto-dbg
	dh_gencontrol 	     -plibxine1-pluto-dbg
	dh_md5sums 	     -plibxine1-pluto-dbg
	dh_builddeb 	     -plibxine1-pluto-dbg

# Build architecture independant packages using the common target
binary-indep: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common
	-(cd debian/libxine-dev ; find .) | grep -v DEBIAN > $@-stamp

# Build architecture dependant packages using the common targets
binary-arch: build install binary-arch-stamp diff-installed-files
binary-arch-stamp: $(addprefix binary-, $(BINARY_ANY_PACKAGES))
	-cat binary-*-stamp | sort | uniq > $@

diff-installed-files: install-stamp binary-arch-stamp
	@echo Comparing installed files from xine-lib Makefiles with files installed in packages:
	-diff -u $^

# if there is a file like debian/libxine1.install.i386.specific, this rule will be triggered
debian/%.install.$(DEB_HOST_ARCH): debian/%.install debian/%.install.$(DEB_HOST_ARCH).specific
	cat $^ > $@

# i386 is special cased! Other archs may follow
ifeq ($(DEB_HOST_ARCH),i386)
binary-libxine1-pluto: debian/libxine1-pluto.install debian/libxine1-pluto.install.$(DEB_HOST_ARCH)
else
binary-libxine1-pluto: debian/libxine1-pluto.install
endif

# Any other binary targets build just one binary package at a time.
binary-%: build install
	make -f debian/rules binary-common DH_OPTIONS=-p$*
	-(cd debian/$* ; find .) | grep -v DEBIAN > $@-stamp

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary-common binary install configure diff-installed-files

#run only by hand!
update-config-sub-guess:
	@echo updateing config.sub and config.guess
	@echo package autotools-dev must be installed!
	cp -f /usr/share/misc/config.sub config.sub
	cp -f /usr/share/misc/config.guess config.guess
