Package: libzfs-dev
Source: zfs-linux
Version: 0.6.5.9-1~trusty
Architecture: amd64
Maintainer: Darik Horn <dajhorn@vanadac.com>
Installed-Size: 14977
Depends: zfs-doc, libzfs2 (= 0.6.5.9-1~trusty)
Replaces: libefi1, libnvpair1, libshare1, libspl1, libunicode1, libuutil1, libzavl1, libzfs2, libzpool2
Provides: libnvpair-dev, libuutil-dev
Section: libdevel
Priority: extra
Description: Native OpenZFS filesystem development files for Linux
 Header files and static libraries for compiling software
 against libzfs.
