# Pluto - ddclient.conf
#
# WARNING :
#  This configuration file is created by automaticaly by Pluto.
#
#  Please use the web admin interface to change your dynamic dns parameters
#  or use the DynamicDns.sh script.
#

daemon=30
syslog=yes
pid=/var/run/ddclient.pid
use=%DD_USE%
if=%DD_ETH%

login=%DD_LOGIN%
password=%DD_PASS%
%DD_SERVICE%
%DD_DOMAINS%

