Source: pluto-sqlcvs
Section: unknown
Priority: extra
Maintainer: root <root@fluffybitch.org>
Build-Depends: debhelper (>= 7),libserialize
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: pluto-sqlcvs
Architecture: any
Depends: mysql-server-4.1, pluto-dcecommon, pluto-plutoutils, dcecommon, plutoutils, pluto-serializeclass, libserializeclass, pluto-ra, ra, pluto-database-settings, mysql-server, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
