MDIR			:= v4l2
snap			:= video4linux

CONFIG_VIDEO_BTTV	:= m
CONFIG_VIDEO_SAA7134	:= m
CONFIG_VIDEO_IR		:= m
CONFIG_VIDEO_TUNER	:= m
CONFIG_VIDEO_TVAUDIO	:= m
CONFIG_VIDEO_CX88	:= m

CONFIG_TVP5150		:= m
CONFIG_SAA711X          := m
CONFIG_EM28XX		:= m

CONFIG_VIDEO_DECODER    := m

CONFIG_VIDEO_ALSA	:= n
CONFIG_VIDEO_ADV_DEBUG	:= y

# doesn't build on kernels older than 2.6.12

CONFIG_VIDEO_BUF_DVB		:= n
CONFIG_VIDEO_CX88_DVB		:= n
CONFIG_VIDEO_SAA7134_DVB	:= n

# requires merged v4l/dvb tree

CONFIG_DVB_BT8XX		:= n
CONFIG_DVB_FRONTENDS		:= n
CONFIG_DVB_CORE			:= n
CONFIG_DVB_B2C2_FLEXCOP		:= n
CONFIG_DVB_B2C2_FLEXCOP_PCI	:= n
CONFIG_DVB_B2C2_FLEXCOP_USB	:= n
CONFIG_DVB_CINERGYT2		:= n
CONFIG_DVB_USB			:= n
CONFIG_DVB_USB_VP7045		:= n
CONFIG_DVB_USB_VP702X		:= n
CONFIG_DVB_USB_DTT200U		:= n
CONFIG_DVB_USB_A800		:= n
CONFIG_DVB_USB_DIBUSB_MB	:= n
CONFIG_DVB_USB_DIBUSB_MC	:= n
CONFIG_DVB_USB_NOVA_T_USB2	:= n
CONFIG_DVB_USB_UMT_010		:= n
CONFIG_DVB_USB_DIGITV		:= n
CONFIG_DVB_USB_CXUSB		:= n
CONFIG_DVB_PLUTO2		:= n
CONFIG_DVB_BUDGET		:= n
CONFIG_DVB_BUDGET_AV		:= n
CONFIG_DVB_BUDGET_CI		:= n
CONFIG_DVB_BUDGET_PATCH		:= n
CONFIG_DVB_AV7110		:= n
CONFIG_DVB_TTUSB_BUDGET		:= n
CONFIG_DVB_TTUSB_DEC		:= n
CONFIG_VIDEO_SAA7146		:= n
CONFIG_VIDEO_SAA7146_VV		:= n

ifneq ($(KERNELRELEASE),)
 CONFIG_VIDEO_BUF_DVB := $(shell test $(SUBLEVEL) -ge 12 -a $(PATCHLEVEL) -ge 6 && echo m)
endif

ifeq ($(CONFIG_VIDEO_BUF_DVB),m)
 CONFIG_VIDEO_CX88_DVB		:= m
 CONFIG_VIDEO_SAA7134_DVB	:= m
 CONFIG_DVB_BT8XX		:= m
 CONFIG_DVB_FRONTENDS		:= m
 CONFIG_DVB_CORE		:= m
 CONFIG_DVB_B2C2_FLEXCOP	:= m
 CONFIG_DVB_B2C2_FLEXCOP_PCI	:= m
 CONFIG_DVB_B2C2_FLEXCOP_USB	:= m
 CONFIG_DVB_CINERGYT2		:= m
 CONFIG_DVB_USB			:= m
 CONFIG_DVB_USB_VP7045		:= m
 CONFIG_DVB_USB_VP702X		:= m
 CONFIG_DVB_USB_DTT200U		:= m
 CONFIG_DVB_USB_A800		:= m
 CONFIG_DVB_USB_DIBUSB_MB	:= m
 CONFIG_DVB_USB_DIBUSB_MC	:= m
 CONFIG_DVB_USB_NOVA_T_USB2	:= m
 CONFIG_DVB_USB_UMT_010		:= m
 CONFIG_DVB_USB_DIGITV		:= m
 CONFIG_DVB_USB_CXUSB		:= m
 CONFIG_DVB_PLUTO2		:= m
 CONFIG_DVB_BUDGET		:= m
 CONFIG_DVB_BUDGET_AV		:= m
 CONFIG_DVB_BUDGET_CI		:= m
 CONFIG_DVB_BUDGET_PATCH	:= m
 CONFIG_DVB_AV7110		:= m
 CONFIG_DVB_AV7110_OSD		:= y
 CONFIG_DVB_TTUSB_BUDGET	:= m
 CONFIG_DVB_TTUSB_DEC		:= m
 CONFIG_VIDEO_SAA7146		:= m
 CONFIG_VIDEO_SAA7146_VV	:= m
endif

