Source: djmount
Section: unknown
Priority: extra
Maintainer: Razvan Gavril <razvan.gavril@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, libfuse-dev, fuse-utils
Standards-Version: 3.7.2

Package: djmount
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfuse2
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
