MDIR			:= v4l2
snap			:= video4linux

CONFIG_VIDEO_BTTV	:= m
CONFIG_VIDEO_SAA7134	:= m
CONFIG_VIDEO_IR		:= m
CONFIG_VIDEO_TUNER	:= m
CONFIG_VIDEO_TVAUDIO	:= m
CONFIG_VIDEO_CX88	:= m

# doesn't build on kernels older than 2.6.10
# Hmm, need a more clever check once we have 2.6.11 ...
CONFIG_VIDEO_CX88_DVB	:= n
CONFIG_VIDEO_SAA7134_DVB := n
ifeq ($(SUBLEVEL),10)
 CONFIG_VIDEO_CX88_DVB	:= m
 CONFIG_VIDEO_SAA7134_DVB := m
endif
ifeq ($(SUBLEVEL),11)
 CONFIG_VIDEO_CX88_DVB	:= m
 CONFIG_VIDEO_SAA7134_DVB := m
endif
