Source: fuppes
Section: misc
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
Build-Depends: debhelper (>= 5), autotools-dev, libtool, libpcre3-dev, libxml2-dev, libsqlite3-dev, uuid-dev, libtag1-dev, liblame-dev, libmpcdec-dev, libfaad2-dev, libflac-dev, libtwolame-dev, libavcodec-dev, libavformat-dev, libswscale-dev, libmagick++9-dev, libmad0-dev, libmp4v2-dev
Standards-Version: 3.7.3

Package: fuppes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblame0, libmpcdec3, libfaad2-0, libflac8, libtwolame0, libmad0, libmp4v2-0, libvorbisfile3
Description: Free UPnP Entertainment Service
 FUPPES is a free multiplatform UPnP (TM) A/V Media Server.
 .
 Although it is not yet fully UPnP compliant it already supports a wide range
 of UPnP MediaRenderers. (see "features" for details)
 .
 FUPPES supports on-the-fly transcoding of various audio, video and image
 formats.
