Source: lmce-skins-all
Maintainer: developers <developers@linuxmce.org>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: lmce-skins-basic
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: pluto-skins-basic
Replaces: pluto-skins-basic
Description: Basic Orbiter skin
 Basic Orbiter Skin

Package: lmce-skins-bluecrystal
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BlueCrystal Orbiter skin
 BlueCrystal Orbiter Skin

Package: lmce-skins-slate
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Slate Orbiter skin
 Titanium Orbiter Skin

Package: lmce-skins-titanium
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Titanium Orbiter skin
 Titanium Orbiter Skin

Package: lmce-skins-uita
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: UIta Orbiter skin
 UIta Orbiter Skin

Package: lmce-avwizard-skin-basic
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: pluto-avwizard-skin-basic
Replaces: pluto-avwizard-skin-basic
Provides: pluto-avwizard-skin-basic
Description: Basic AV Wizard skin
 Basic AV Wizard Skin

