Source: shairport
Section: net
Priority: extra
Maintainer: Serge Wagener <serge@swa.lu>
Build-Depends: debhelper (>= 7), libssl-dev, libao2, libao-dev, libwww-perl, pkg-config
Standards-Version: 3.8.4
Homepage: https://github.com/albertz/shairport

Package: shairport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, avahi-utils
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
