Source: lmce-asterisk
Section: unknown
Priority: optional
Maintainer: LinuxMCE Developers <developers@linuxmce.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: lmce-asterisk
Architecture: any
Depends: pluto-local-database,
	pluto-system-database,
	pluto-boot-scripts,
	chan-sccp-b,
	asterisk-mysql,
	espeak,
	mbrola,
	mbrola-de7,
	mbrola-fr4,
	asterisk-core-sounds-en-gsm,
	asterisk-core-sounds-es-gsm,
	asterisk-core-sounds-fr-gsm,
	asterisk-prompt-es,
	asterisk-prompt-de
Provides: asterisk-config-custom
Conflicts: asterisk-config
Replaces: asterisk-config, asterisk-custom-config
Description: lmce-asterisk
 LinuxMCE Asterisk integration
