Source: vdr-addon-noad
Section: misc
Priority: optional
Maintainer: Peter Siering <ps@ctmagazin.de>
Origin: ctvdr
Bugs: mailto:pkg-vdr-dvb-devel@lists.alioth.debian.org
Build-Depends: debhelper (>= 5), cdbs, dpatch (>= 2.0.9), autoconf, pkg-config, libmpeg2-4-dev, libavcodec-dev, po-debconf
Standards-Version: 3.8.3

Package: vdr-addon-noad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vdr (>=1.2.6-27), gawk
Description: VDR-Addon to automatically mark advertisements 
 noad sets cut marks in recordings from Klaus Schmidingers Video
 Disk Recorder. It does some magic you can read about at
 http://www.ktet.fh-muenster.de/ina/node1.html.
