#
# Sample configuration file for ISC dhcpd for Debian
#
# $Id: dhcpd.conf,v 1.4.2.2 2002/07/10 03:50:33 peloy Exp $
#

# option definitions common to all supported networks...
#option domain-name "fugue.com";
#option domain-name-servers toccata.fugue.com;
option domain-name-servers %CORE_INTERNAL_ADDRESS%;
authoritative;

option routers %CORE_INTERNAL_ADDRESS%;
option subnet-mask %INTERNAL_SUBNET_MASK%;

# lease IPs for 1 day, maximum 1 week
default-lease-time 86400;
max-lease-time 604800;

allow booting;
allow bootp;

subnet %INTERNAL_SUBNET% netmask %INTERNAL_SUBNET_MASK% {
	default-lease-time 86400;
	max-lease-time 604800;
}

option space pxelinux;
option pxelinux.magic code 208 = string;
option pxelinux.configfile code 209 = text;
option pxelinux.pathprefix code 210 = text;
option pxelinux.reboottime code 211 = unsigned integer 32;

group {
	next-server %CORE_INTERNAL_ADDRESS%;
	filename "/tftpboot/pxelinux.0";
	option pxelinux.reboottime = 30;

	%MOON_ENTRIES%
}

