/u/home/.dvdcss 192.168.2.0/255.255.255.0(rw,no_root_squash,no_all_squash)
/home 192.168.2.0/255.255.255.0(rw,no_root_squash,no_all_squash)
/mnt/media 192.168.2.0/255.255.255.0(rw,no_root_squash,no_all_squash)
/usr/local/pluto/bootpluto 192.168.2.0/255.255.255.0(rw,no_root_squash)
/usr/local/pluto/var/log 192.168.2.0/255.255.255.0(rw,no_root_squash,no_all_squash)
