Package: libnvpair1
Source: zfs-linux
Version: 0.6.5.9-1~trusty
Architecture: amd64
Maintainer: Darik Horn <dajhorn@vanadac.com>
Installed-Size: 108
Depends: zfs-doc, libc6 (>= 2.4), libuutil1
Replaces: libnvpair0
Section: libs
Priority: extra
Description: Solaris name-value library for Linux
 This library provides routines for packing and unpacking nv pairs for
 transporting data across process boundaries, transporting between
 kernel and userland, and possibly saving onto disk files.
