Source: lmce-usbuirt
Section: unknown
Priority: extra
Maintainer: Peer Oliver Schmidt <developer@linuxmce.org>
Build-Depends: debhelper (>= 8.0.0),pluto-irbase-dev,pluto-messagetrans-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/lmce-usbuirt.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lmce-usbuirt.git;a=summary

Package: lmce-usbuirt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pluto-irbase,pluto-messagetrans
Description: LinuxMCE device driver for USB UIRT
 This supports the USB UIRT for sending and receiving IR codes.
