Source: lmce-mame-snaps
Maintainer: developers <developers@linuxmce.org>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: lmce-mame-snaps
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: snaps for MAME games
 snaps for hundreds of MAME ROM games
