<HTML>
<HEAD>

<meta http-equiv="Content-Language" content="en">        
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 03 Jan 2000 00:00:01 GMT" />
        <meta name="keywords" content="">
		<meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        {MetaTags}
		
<title>{Title}</title>		
 {CssFile}
 {JavaScripts}
 {ScriptValidateSrc}
 {ScriptCalendar}
 


<script type="text/javascript">
function submitEnter(myfield,e)
{
var keycode;
if (window.event) keycode = window.event.keyCode;
else if (e) keycode = e.which;
else return true;

if (keycode == 13)
   {
   myfield.form.submit();
   //javascript:document.forms[\'loginForm\'].submit();
   return false;
   }
else
   return true;
}
</script>

{ScriptInHead}

</HEAD>

<BODY {ScriptInBody}>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="include/images/back_search.jpg"><table width="225"  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="124"><img src="include/images/live_support.jpg" width="124" height="36" /></td>
                <td width="102" valign="top"><!-- BEGIN PHP Live! code, (c) OSI Codes Inc. -->
<script language="JavaScript" src="http://plutohome.com/phplive/js/status_image.php?base_url=http://plutohome.com/phplive&l=radu&x=1&deptid=0&btn=1"><a href=""></a></script>
<!-- END PHP Live! code : (c) OSI Codes Inc. --></td>
				<td width="31"><img src="include/images/header_colt_1.jpg" width="31" height="36" /></td>
              </tr>
          </table>
    </td>
  </tr>
  <tr>
    <td background="include/images/back_logo.jpg"><img src="include/images/logo.jpg" width="156" height="132" /></td>
  </tr>
  <tr>
    <td class="navbar">
    <!-- content area-->	
{Body}
<!-- end content area-->
	</td>
  </tr>
</table>
</BODY>
</HTML>