<HTML>
<HEAD>

<meta http-equiv="Content-Language" content="en">        
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 03 Jan 2000 00:00:01 GMT" />
        <meta name="keywords" content="">
		<meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        {MetaTags}
		
<title>{Title}</title>		
 {CssFile}
 {JavaScripts}
 {ScriptValidateSrc}
 


<script type="text/javascript">
function submitEnter(myfield,e)
{
var keycode;
if (window.event) keycode = window.event.keyCode;
else if (e) keycode = e.which;
else return true;

if (keycode == 13)
   {
   myfield.form.submit();
   //javascript:document.forms[\'loginForm\'].submit();
   return false;
   }
else
   return true;
}
</script>

{ScriptInHead}

</HEAD>
<BODY {ScriptInBody}>
<base target="_top" />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td background="include/images/back_header.jpg"><table width="720"  border="0" cellspacing="0" cellpadding="0">
        <tr>
		 <td background="include/images/back_search.jpg" valign="top"><table width="225"  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="124"><img src="include/images/live_support.jpg" width="124" height="36" /></td>
                <td width="102" valign="top"><script language="JavaScript" src="http://plutohome.com/phplive/js/status_image.php?base_url=http://plutohome.com/phplive&l=radu&x=1&deptid=4&"></script></td>
				<td width="31"><img src="include/images/header_colt_1.jpg" width="31" height="36" /></td>
              </tr>
          </table>
    	  </td>
          <td background="include/images/back_search.jpg">&nbsp;</td>
          <td width="31" background="include/images/back_search.jpg">&nbsp;</td>
          <td><form name="form2" method="post" action="{PlutoHomeHost}index.php?section=search">
          <table width="226"  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="132" background="include/images/back_search.jpg"><input type="text" name="cuvant" value="" class="search"></td>
                <td width="94"><input type="image" src="include/images/buton_search.jpg" name="search""></td></form>
              </tr>
          </table></td>
          <td width="239" valign="top">{LoginLogout}</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td style="background-image:url(include/images/back_project_1.jpg);"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="0" style="background-image:url(include/images/back_project_2.jpg);background-repeat:no-repeat;">
              <tr>
                <td width="5"><img src="include/images/back_project_spacer.jpg" width="5" height="100" /></td>
                <td valign="bottom" class="project_name">{ProjectName}</td>
              </tr>
          </table></td>
          <td>&nbsp;</td>
        </tr>
    </table></td>
  </tr>
  <tr>
  	<td><table width="100%" style="background-color:#4e6ca6;z-index:100;" cellpadding="0" cellspacing="0">
		<td height="25"><table>
			<tr>
				<td><a href="../wiki/" class="white_link">Documentation</a></td>
				<td class="white_link">|</td>
				<td><a href="index.php?section=forum" class="white_link">Forum</a></td>
				<td class="white_link">|</td>
				<td><a href="index.php?section=mail" class="white_link">Mailing lists</a></td>
				<td class="white_link">|</td>
				<td><a href="index.php?section=mainDownload&package=0" class="white_link">Download</a></td>
				<td class="white_link">|</td>
				<td><a href="index.php?section=mantis" class="white_link">Bug reports</a></td>
				<td class="white_link">|</td>
				<td><a href="doxygen/" class="white_link">Source Code Docs</a></td>
				<td class="white_link">|</td>
				<td><a href="index.php?section=versions&package=0" class="white_link">Change Logs</a></td>
				<td class="white_link">|</td>
				<td><a href="index.php?section=authors" class="white_link">Authors</a></td>
				<td class="white_link">|</td>
				<td><a href="index.php?section=license&package=0" class="white_link">License</a></td>
				<td class="white_link">|</td>				
				<td><a href="{HelpSrc}" class="white_link">Help</a></td>
				<td class="white_link">|</td>				
			</tr>
		</table></td>
		<td width="60" align="right">&nbsp;</td>
	  <tr>
	  </table>
	  </td>
	</tr>
	<tr>
    <td class="maintable" valign="top" align="left" height="400"><br>
    <!-- content area-->	
{Body}
<!-- end content area--></td>
  </tr>
  <tr>
    <td background="include/images/back_footer.gif"><table width="720" border="0" cellpadding="0" cellspacing="0" background="include/images/back_footer.gif">
        <tr>
          <td width="124"><img src="include/images/copyright.gif" width="124" height="33" /></td>
          <td width="88">&nbsp;</td>
          <td width="61">&nbsp;</td>
          <td width="71"><a href="http://plutohome.com/index.php?section=contact" target="_top"><img src="include/images/contact.gif" width="71" height="33" border="0"/></a></td>
          <td width="87"><img src="include/images/pluto.gif" width="87" height="33" /></td>
          <td>&nbsp;</td>
          <td width="115"><a href="http://www.newflavorstudio.com/" target="_top"><img src="include/images/nfs.gif" width="115" height="33" border="0"/></a></td>
        </tr>
    </table></td>
  </tr>
</table>
</BODY>
</HTML>