Source: vdr-plugin-vompserver
Section: video
Priority: extra
Maintainer: Debian VDR Team <pkg-vdr-dvb-devel@lists.alioth.debian.org>
Uploaders: Marten Richter <marten.richter@freenet.de>, Tobias Grimm <etobi@debian.org>
Origin: ctvdr
Build-Depends: debhelper (>= 5), cdbs, vdr-dev (>= 1.6.0-5)
Standards-Version: 3.8.3

Package: vdr-plugin-vompserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${vdr:Depends}
Conflicts: vdr-plugin-mediamvp, vdr-vompclient-mvp (<< 0.3.1)
Replaces: vdr-plugin-mediamvp
Description: vdr-plugin for vdr on mediamvp(VOMP)
 This VDR plugin is a server for the Hauppauge MediaMvp using the
 free firmware form the mediamvp(VOMP) Project.
