Source: mythplugins
Section: graphics
Priority: optional
Maintainer: Christian Marillat <marillat@debian.org>
Homepage: http://www.mythtv.org/
Bugs: mailto:marillat@debian.org
Standards-Version: 3.8.4
Build-Conflicts: libmp4ff-dev
Build-Depends: debhelper (>> 7), libmyth-dev (>= 0.23),
 quilt, libdvdread-dev, fftw3-dev | libfftw3-dev, libvorbis-dev (>= 1.0.0-1~),
 libxxf86vm-dev, libflac-dev (>= 1.0.4-4), libmad0-dev, ccache, libcdaudio-dev,
 libxv-dev, libcdparanoia0-dev, libid3tag0-dev, libsdl1.2-dev, libmp3lame-dev,
 libfaad-dev, libexif-dev (>= 0.6.9-6), libjack-dev, libfaac-dev, libxvmc-dev,
 libglu1-mesa-dev | libglu-dev, libtiff4-dev | libtiff-dev, libiec61883-dev,
 libavc1394-dev, libfaac-dev, libtag1-dev, libexif-dev, libmysqlclient15-dev,
 libvisual-0.4-dev, python-support, libfreetype6-dev, libqt4-opengl-dev,
 libgl1-mesa-swx11-dev | libgl-dev, libasound2-dev, libdirectfb-dev,
 distcc [mipsel]

Package: mythplugins
Architecture: all
Depends: mythbrowser, mythgallery, mythgame, mythmusic, mythnetvision, mythnews, mythvideo, mythweather, mythweb, mytharchive, mythmovies, mythzoneminder, ${misc:Depends}
Description: Wrapper package for MythTV plugins
 This package install all the MythTV plugins.

Package: mythbrowser
Architecture: any
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), ${shlibs:Depends}, ${misc:Depends}
Conflicts: mythflix, mythdvd
Description: A small web browser module for MythTV
 Mythbrowser is an integrated web browser plugin for your MythTV system.

Package: mythgallery
Architecture: any
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), ${shlibs:Depends}, ${misc:Depends}
Replaces: mythtv-common (<= 0.21.svn20090824-0.4)
Conflicts: mythflix, mythdvd
Description: Image gallery/slideshow add-on module for MythTV
 MythGallery allows you to visually browse a directory tree containing image
 files. It can display any image file format supported by Qt, and supports
 image rotation and simple slideshows.

Package: mythgame
Architecture: any
Section: games
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), ${shlibs:Depends}, ${misc:Depends}
Recommends: sdlmame
Conflicts: mythflix, mythdvd
Description: Emulator & PC Game frontend module for MythTV
 MythGame can be used as a frontend to start any emulator that your host OS
 runs.

Package: mythmusic
Architecture: any
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), ${shlibs:Depends}, ${misc:Depends}
Replaces: mythtv-common (<= 0.21.svn20090824-0.4)
Conflicts: mythflix, mythdvd
Description: Music add-on module for MythTV
 MythMusic provides a digital audio jukebox integrated with MythTV. It
 supports Ogg Vorbis, FLAC and MP3 streams, displays visualizations, and can
 also encode new Ogg Vorbis or FLAC streams from audio CDs using a CD-ROM
 drive.

Package: mythnews
Architecture: any
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), ${shlibs:Depends}, ${misc:Depends}
Conflicts: mythflix, mythdvd
Description: An RSS feed news reader module for MythTV
 An RSS feed news reader module for MythTV

Package: mythvideo
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), libxml-simple-perl, libwww-perl, libdatetime-format-strptime-perl, python-mythtv
Recommends: xine | ogle | mplayer
Suggests: transcode
Conflicts: mythflix, mythdvd
Description: A generic video player frontend module for MythTV
 MythVideo allows you to browse and play video streams, using an external
 player, from within the MythTV interface.

Package: mythweather
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), libdate-manip-perl, libimage-size-perl, libwww-perl, libsoap-lite-perl, libxml-parser-perl, libxml-simple-perl, libxml-sax-perl
Conflicts: mythflix, mythdvd
Description: Weather add-on module for MythTV
 MythWeather displays current and forecast weather information within
 MythTV.

Package: mythweb
Architecture: all
Depends: ${misc:Depends}, mythtv-common (>= 0.23), apache2 | httpd, libapache2-mod-php4 | php4 | libapache2-mod-php5 | php5, php4-mysql | php5-mysql
Conflicts: mythflix, mythdvd
Description: An integrated web browser plugin for your MythTV system
 MythWeb provides a web interface which can be used to view listings,
 schedule recordings, delete recordings, and search for programs. It can
 also browse mythmusic's music database, and may eventually support playing
 music streams as well.

Package: mytharchive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mytharchive-data (>= ${binary:Version}), mjpegtools, ffmpeg, dvdauthor, genisoimage, dvd+rw-tools, pmount
Suggests: m2vrequantiser
Conflicts: mythflix, mythdvd
Description: Create and burn DVD's from MythTV - binary file
 MythArchive is a plugin for MythTV that lets you create DVDs from your
 recorded shows, MythVideo files and any video files available on your
 system. It can also archive recordings in a proprietary format that
 archives not only the file but also all the associated metadata like title,
 description and cut list information which will mean you can create backups
 of myth recordings which can later be restored or it will also allow you to
 move recordings between myth systems without losing any of the metadata. It
 is a complete rewrite of the old MythBurn bash scripts, now using Python,
 and the mythfrontend UI plugin.

Package: mytharchive-data
Architecture: all
Replaces: mytharchive (<= 0.23~rc1-0.0), mythtv-common (<= 0.21.svn20090824-0.4)
Depends: ${python:Depends}, ${misc:Depends}, python-imaging, python-mysqldb
Description: Create and burn DVD's from MythTV - data files
 MythArchive is a plugin for MythTV that lets you create DVDs from your
 recorded shows, MythVideo files and any video files available on your
 system. It can also archive recordings in a proprietary format that
 archives not only the file but also all the associated metadata like title,
 description and cut list information which will mean you can create backups
 of myth recordings which can later be restored or it will also allow you to
 move recordings between myth systems without losing any of the metadata. It
 is a complete rewrite of the old MythBurn bash scripts, now using Python,
 and the mythfrontend UI plugin.

Package: mythzoneminder
Architecture: any
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), ${shlibs:Depends}, ${misc:Depends}, zoneminder
Conflicts: mythflix, mythdvd
Description: A system for monitoring cctv cameras
 ZoneMinder is a system for monitoring cctv cameras. It uses a web interface
 which doesn't work very well on a MythTV only system so the plugin provides
 a remote friendly interface to some of the functions provided by ZM.

Package: mythmovies
Architecture: any
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), ${shlibs:Depends}, ${misc:Depends}
Conflicts: mythflix, mythdvd
Description: Show times and cinema listings based on Zip/Post code
 Provides show times and cinema listings based on Zip/Post code and a given
 radius. It uses external scripts to grab times and so can be used in any
 country so long as a script is written for a local data source. Ships with
 a grabber for the USA which uses the ignyte website.

Package: mythnetvision
Architecture: any
Depends: mythtv-common (>= 0.23), mythtv-frontend (>= 0.23), mythnetvision-data (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: mythflix, mythdvd
Description: Plugin for watching internet content
 MythNetvision is a plugin designed to make adding Internet video sources to
 MythTV fun and easy. MythNetvision consists of two components: a search
 screen and a site/RSS browser screen. When installed, MythNetvision appears
 on the Media Library screen as the options "Search Internet Video" and
 "Browse Internet Video."

Package: mythnetvision-data
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-mysqldb
Replaces: mythnetvision (<= 0.23~rc1-0.0)
Description: Plugin for watching internet content
 MythNetvision is a plugin designed to make adding Internet video sources to
 MythTV fun and easy. MythNetvision consists of two components: a search
 screen and a site/RSS browser screen. When installed, MythNetvision appears
 on the Media Library screen as the options "Search Internet Video" and
 "Browse Internet Video."
 .
 This package contains independent files (icons and python scripts).
