#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

NCPUS := $(shell getconf _NPROCESSORS_ONLN 2>/dev/null || echo 1)

ifeq ($(NCPUS),-1)
	NCPUS:=1
endif

ifeq ($(NCPUS),0)
	NCPUS:=1 
endif

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


DEBIAN_ARCH = $(shell dpkg-architecture -qDEB_BUILD_ARCH)

configure: configure-stamp
configure-stamp: debian/stamp-patched
	dh_testdir

	./configure --prefix=/usr --enable-all

ifeq "$(DEBIAN_ARCH)" "sparc"
	rm mythconfig.mak
	cp /usr/include/mythtv/mythconfig.mak .
	perl -i -pe 's,ARCHFLAGS,#ARCHFLAGS,' mythconfig.mak
endif

	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir

	$(MAKE) -j $(NCPUS)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	[ ! -f Makefile ] || $(MAKE) distclean

	debian/rules unpatch

	dh_clean Makefile mythconfig.mak config.pro config.log cleanup/Makefile \
	mythgallery/mythgallery/config.h mythgallery/mythgallery/config.pro \
	mythmusic/mythmusic/config.h mythmusic/mythmusic/config.pro

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs -pmythmusic etc/mythtv usr/share/mythtv/sql
	dh_installdirs -pmythnews
	dh_installdirs -pmythvideo var/lib/mythvideo/temp
	dh_installdirs -pmythweather etc/mythtv
	dh_installdirs -pmythweb var/cache/mythweb/image_cache \
	var/www etc/mythtv usr/share/mythtv etc/apache2/conf.d

	for plugin in mytharchive mythbrowser mythgallery \
	mythgame mythmovies mythmusic mythnetvision mythnews mythphone mythvideo mythweather mythweb \
	mythzoneminder; do \
		$(MAKE) -C $$plugin install INSTALL_ROOT=$(CURDIR)/debian/$$plugin; \
	done

	find debian/mytharchive/usr/share/mythtv -type f -exec chmod 0644 {} \;

# Handle the mythweb install
	cp -R mythweb $(CURDIR)/debian/mythweb/usr/share/mythtv

	cp mythweb/mythweb.conf.apache \
	debian/mythweb/usr/share/mythtv/mythweb

	mv debian/mythweb/usr/share/mythtv/mythweb/includes/config.php \
	debian/mythweb/etc/mythtv/mythweb-config.php
	mv debian/mythweb/usr/share/mythtv/mythweb/modules/tv/canned_searches.conf.php \
	debian/mythweb/etc/mythtv/mythweb-canned_searches.conf.php

	rm debian/mythweb/usr/share/mythtv/mythweb/LICENSE
	rm debian/mythweb/usr/share/mythtv/mythweb/README

	dh_movefiles --sourcedir=debian/mytharchive -pmytharchive-data

	dh_movefiles --sourcedir=debian/mythnetvision -pmythnetvision-data

	find debian/mythweb/usr/share/mythtv/mythweb -type f -exec chmod 0644 {} \;
	find debian/mytharchive -type d -print0 | xargs -0 rmdir -p --ignore-fail-on-non-empty
	find debian/mythnetvision -type d -print0 | xargs -0 rmdir -p --ignore-fail-on-non-empty

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -pmythweb mythweb/README
	dh_installdocs -pmytharchive-data  mytharchive/TODO mytharchive/README mytharchive/AUTHORS
	dh_installdocs -i
	dh_installmenu -i
	dh_installchangelogs -i
	dh_pysupport -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	chmod 0755 debian/mytharchive-data/usr/share/mythtv/mytharchive/scripts/*
	chmod 0755 debian/mythweb/usr/share/mythtv/mythweb/mythweb.pl
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i -- -Zbzip2

binary-arch: build install
	dh_testdir -s
	dh_testroot -s
	dh_installdebconf -s
	dh_installdocs -pmytharchive mytharchive/TODO mytharchive/README mytharchive/AUTHORS
	dh_installdocs -pmythbrowser mythbrowser/README mythbrowser/AUTHORS
	dh_installdocs -pmythgallery mythgallery/README mythgallery/AUTHORS
	dh_installdocs -pmythmusic mythmusic/README mythmusic/AUTHORS
	dh_installdocs -pmythnetvision mythnetvision/README
	dh_installdocs -pmythnews mythnews/README mythnews/AUTHORS
	dh_installdocs -pmythvideo mythvideo/README
	dh_installdocs -pmythweather mythweather/README mythweather/AUTHORS
	dh_installdocs -pmythzoneminder mythzoneminder/AUTHORS mythzoneminder/README
	dh_installdocs -pmythmovies mythmovies/README
	dh_installdocs -s
	dh_installchangelogs -s
	dh_pysupport -s
	dh_link -s
	dh_strip -s
	dh_compress -s
	dh_fixperms -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s -- -Zbzip2

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
