/*
	Additional CSS for the iOrbiter.
	Copyright Peer Oliver Schmidt 2008
	Licence GPL v2
	based on the regular button class in iUI

 */
.button2 {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 55px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(iui/toolButton.png) 0 5 0 5;
}

#homeButton {
    display: none;
    left: 60px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(iui/backButton.png) 0 8 0 14;
}
