Source: asterisk-pluto
Section: unknown
Priority: optional
Maintainer: Office Server Operator <root@activate.plutohome.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: asterisk-pluto
Architecture: any
Depends: asterisk-perl, libnet-telnet-perl, libipc-signal-perl, libproc-waitstat-perl, php-pear, php-db, mpg123, sox, libasound2 (>> 1.0.8), libc6 (>= 2.3.2.ds1-4), libgsm1 (>= 1.0.10), libncurses5 (>= 5.4-1), libnewt0.52,  libspeex1, libsqlite0 (>= 2.8.16), libssl0.9.7, unixodbc, zlib1g (>= 1:1.2.1), libcapi20-3, libtiff4, libxml2, tcpdump, traceroute
Replaces: asterisk, asterisk-dev, asterisk-config, amp, asterisk-addons, asterisk-sounds-main, libpri1, libtonezone1, zaptel, zaptel-source, zaptel-modules, libspandsp0
Conflicts: asterisk, asterisk-dev, asterisk-config, amp, asterisk-addons, asterisk-sounds-main, libpri1, libtonezone1, zaptel, zaptel-source, zaptel-modules, libspandsp0
Provides: asterisk, asterisk-dev, asterisk-config, amp, asterisk-addons, asterisk-sounds-main, libpri1, libtonezone1, zaptel, zaptel-source, zaptel-modules, libspandsp0
Description: Custom packaged asterisk
 Contains asterisk, some addons, zaptel and AMP
