Source: pluto-asterisk
Section: unknown
Priority: extra
Maintainer: root <root@fluffybitch.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: pluto-asterisk
Architecture: any
Depends: pluto-voicemail-monitor, asterisk-pluto, libsqlite0, asterisk-perl, pluto-proxy-orbiter, proxy-orbiter, bootsplash-theme-monster, sox, asterisk-sounds-extra, libsox-fmt-all, asterisk, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
