Source: ushare
Section: unknown
Priority: extra
Maintainer: Razvan Gavril <razvan.gavril@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: ushare
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libupnp0
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
