Source: lirc
Section: utils
Priority: extra
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: lirc Maintainer Team <pkg-lirc-maint@lists.alioth.debian.org>
Build-Depends: debhelper (>= 7.0.50~),
 bzip2,
 libusb-dev [!hurd-i386],
 libasound2-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64],
 libice-dev,
 libsm-dev,
 libx11-dev,
 libirman-dev,
 libftdi-dev,
 autotools-dev,
 portaudio19-dev,
 devscripts,
 quilt,
 libxt-dev,
 po-debconf
Standards-Version: 3.9.1
Uploaders: Matthew Johnson <mjj29@debian.org>,
 Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Sven Müller <sven@debian.org>
Vcs-Bzr: lp:~mythbuntu-dev/lirc/ubuntu
#Vcs-Svn: svn://svn.debian.org/svn/pkg-lirc/lirc/trunk/
#Vcs-Browser: http://svn.debian.org/viewsvn/pkg-lirc/lirc/trunk/
Homepage: http://lirc.org

Package: lirc
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 lsb-base,
 setserial
Recommends: udev
Suggests: lirc-x
Replaces: lirc-modules-source
Conflicts: makedev (<< 2.3.1-88), lirc-modules-source
Description: infra-red remote control support
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 This package provides the daemons and some utilities to support infra-red
 remote controls under Linux.

Package: lirc-x
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 lirc (= ${binary:Version})
Replaces: lirc (<< 0.6.4-8)
Recommends: xfonts-75dpi
Description: infra-red remote control support - X utilities
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 This package provides X utilities for LIRC:
  irxevent: allows controlling X applications with a remote control;
  xmode2  : shows the IR waveform of the remote controller without an
            oscilloscope. Unneeded for TV cards or the Irman.

Package: liblircclient-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends},
 liblircclient0 (= ${binary:Version}),
 libc6-dev
Description: infra-red remote control support - client library development files
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 This package contains the static library and headers for
 the LIRC client library.

Package: liblircclient0
Priority: optional
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
 ${misc:Depends}
Suggests: lirc
Description: infra-red remote control support - client library
 LIRC stands for 'Linux Infra-red Remote Control'.
 .
 This package provides a library with functions to support remote
 controls via LIRC in programs such as xawtv.

