table.plutotable{
    background: #f9f9f9;
    border: 1px #aaa solid;
    border-collapse: collapse;
}

table.plutotable th, table.plutotable td{
	font-family: Arial, Verdana,  Helvetica, sans-serif; 
	font-size: 12px; 
    border: 1px #aaa solid;
    padding: 0.2em;
}

table.plutotable th{
	font-family: Arial, Verdana,  Helvetica, sans-serif; 
	font-size: 12px; 
    background: #f2f2f2;
    text-align: left;
}

a.menu {
	font-family: Arial, Verdana,  Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration: none;
	color: #990000;
}

a.menu:hover {
	font-family: Arial, Verdana,  Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration: none;
	color: #2F6681;
} 
.error {
	font-family: Arial, Verdana,  Helvetica, sans-serif; 
	font-weight: bold; 
	font-size: 12px; 
	text-decoration: none;
	color: red;
}