Source: squeezeslave
Section: sound
Priority: optional
Maintainer: LinuxMCE Developers <developers@linuxmce.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: squeezeslave
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}
Description: a software implementation of the Squeezebox device
 A software implementation of the SqueezeBox device
