#!/bin/sh
. /usr/share/debconf/confmodule

db_input high mythweb/enable || true
db_go

CONFIG=/etc/mythtv/mysql.txt
if [ -e $CONFIG ]; then
    db_set mythtv/mysql_mythtv_dbname "`sed -n -e 's/^\(str  *\)\?DBName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_user "`sed -n -e 's/^\(str  *\)\?DBUserName=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_mythtv_password "`sed -n -e 's/^\(str  *\)\?DBPassword=\(.*\)$/\2/gp;' $CONFIG`"
    db_set mythtv/mysql_host "`sed -n -e 's/^\(str  *\)\?DBHostName=\(.*\)$/\2/gp;' $CONFIG`"
fi

db_get mythweb/enable
if [ "$RET" = true ]; then
	db_input high mythweb/username || true
	db_input high mythweb/password || true
	db_go 
fi
