Package: zfs-zed
Source: zfs-linux
Version: 0.6.5.9-1~trusty
Architecture: amd64
Maintainer: Darik Horn <dajhorn@vanadac.com>
Installed-Size: 144
Depends: sysv-rc (>= 2.88dsf-24) | file-rc (>= 0.8.16), zfs-doc, libc6 (>= 2.14), libnvpair1, libzfs2, zfsutils
Recommends: mail-transport-agent
Replaces: zfsutils
Section: admin
Priority: extra
Description: OpenZFS Event Daemon (zed)
 A monitor that automatically runs scripts for OpenZFS kernel events,
 like disk failures.
