Source: v4l2-ngene-modules
Section: unknown
Priority: extra
Maintainer: Mandingo <Mandingo@Mydingo.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: v4l2-ngene-modules
Architecture: all
Depends: dkms, linux-firmware | v4l2-firmware
Conflicts: v4l2-modules-2.6.22-14-generic
Description: Video for Linux driver source code
 Video for Linux driver source code

#Package: v4l2-firmware
#Architecture: all
#Conflicts: linux-firmware
#Description: Firmware for Video for Linux supported devices
# Firmware for Video for Linux supported devices
