<module>
	<rawname>framework</rawname>
	<name>FreePBX Framework</name>
	<version>2.3.1.0</version>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<changelog>
		*2.3.1.0* #2335, #2412, module upgrade completely rewrites old modules, see CHANGES file in framework module directory
		*2.3.0.3* #2336, #2350 FOP DBI issues with some versions, fixed some paging issues with sipaddheader() not escaping spaces
		*2.3.0.2* fix upgrade to properly remove depecrated unused files
		*2.3.0.1* #2249 fix syntax error from first fix to ARI
		*2.3.0.0* Final Release
		*2.3.0RC1.1* bump to RC1 because of bug not using proper version compare
		*2.3.0rc1.0* styling and UI tweaks, improvments, javascript library package and reload improvements
		*2.3.0beta2.10* #1826, #2132, #2161, #2162, #2216, added AUTHTYPE=webserver, added DEVEL flag, fixed warnings, unitialized variables
		*2.3.0beta2.9* #2127 call-limit for Asterisk 1.4, replaced legacy retrieve_conf scripts, uninitialized variables 
		               and warnings, consolidate javascripts and CSS files, welcome page improvments.
		*2.3.0beta2.8* #1520, added keyboard shortcuts during reload, support to block modules requiring asterisk running (when it is not), misc other fixes
		*2.3.0beta2.7* #2180, #2174 reverted to old op_style.sh
		*2.3.0beta2.6* #2174 fix #2154 really this time, and fix crontab to check for updates
		*2.3.0beta2.5* #2143 fixed module hooks
		*2.3.0beta2.4* #2147 tab link to FOP broken, #2157 fix database mode, #2150 output to crontab stopped,  retrieve_conf copy fix, needed for #2046 VmX bug
		               #2111 added retrieve_conf failure notifications, #2154 move bonce_op.sh and fix, #1442 removed .htacces exceptions in modules
		*2.3.0beta2.3* additional notification logging, fix missing version_compare_freepbx function upgrading from older beta versions
		*2.3.0beta2.2* #2137 fix ARI VmX bug, fix odd bug in error reporting in retrieve_conf, additional notification logging
		*2.3.0beta2.1* fix include of libfreepbx.install.php in install.php script
		*2.3.0beta2.0* Beta2 Release - see CHANGES file with packaged tarball and read important WARNINGS
		*2.3.0beta1.6* added ext_sipaddheader, ext_sipgetheader, ext_alertinfo to extensions.class.php
		*2.3.0beta1.5* improved parsers and made retreive_conf use the main parser, fixed on module version depends regex
		*2.3.0beta1.4* #2020 added chmod 0754 to copied files to make sure they are executable
		*2.3.0beta1.3* #2020 retrieve_conf copies module agi-bin now, was symlink. #1963, #2031, #2033 minor fixes (see tickets) 
		*2.3.0beta1.2* #1785 corner case ARI playback fix, misc other
		*2.3.0beta1.1* Framework changes, test framework module
		*2.3.0beta1.0* First release of framework
	</changelog>
	<description>
		This module provides a facility to install bug fixes to the framework code that is not otherwise housed in a module
	</description>
	<type>setup</type>
	<category>Basic</category>
	<location>release/2.3/framework-2.3.1.0.tgz</location>
	<md5sum>2ef473769ccc1a37875d3c7d2edb7542</md5sum>
</module>
