body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}			 

a {
	text-decoration: none;
	color: #0166FF;
}

a:hover {
	text-decoration: none;
	color: #0F46AD;
}

.search {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: none;
   color: #666666;
   background: #FFFFFF;
   border-bottom : 1px solid #557DD2; 
   border-top : 1px solid #557DD2;  
   border-left : 1px solid #557DD2;  
   border-right : 1px solid #557DD2;
   height: 12px;
   vertical-align: middle;
}

.textfield {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: none;
   color: #666666;
   background: #FFFFFF;
   border-bottom : 1px solid #A1BBF8; 
   border-top : 1px solid #A1BBF8;  
   border-left : 1px solid #A1BBF8;  
   border-right : 1px solid #A1BBF8;
   height: 16px;
}

.textarea {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: none;
   color: #666666;
   background: #FFFFFF;
   border-bottom : 1px solid #A1BBF8; 
   border-top : 1px solid #A1BBF8;  
   border-left : 1px solid #A1BBF8;  
   border-right : 1px solid #A1BBF8;
}

.insidetable {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
   padding-top: 8px;
   padding-bottom: 8px;
   border-bottom: 1px solid #9EBCF8;
}

.insidetable2 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
   padding-top: 12px;
   padding-bottom: 12px;
}

.navbar {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: none;
   color: #666666;
   border-bottom: 1px solid #9EBCF8;
   padding-bottom: 8px;
}

.login {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #666666;
}

.login:link {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #666666;
}

.login:hover {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #0F46AD;
}

.news {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: none;
   color: #666666;
}

.footer {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: none;
   color: #666666;
   border-top: 1px solid #666666;
}

.title {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #0065FF;
}

.title2 {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: #333333;
}
.normaltext{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #666666;
}
.err{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: red;
}
.confirm{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   color: green;
}
.err{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: red;
}