<module>
	<rawname>parking</rawname>
	<name>Parking Lot</name>
	<version>2.1.1</version>
	<type>setup</type>
	<category>Internal Options &amp; Configuration</category>
	<description>Manages parking lot extensions and other options.
	
	Parking is a way of putting calls "on hold", and then picking them up from any extension.</description>
	<menuitems>
		<parking>Parking Lot</parking>
	</menuitems>
	<changelog>
		*2.1.1* fix pseudo hardcoded path issue (hardcoded form missing global)
		*2.1* Remove settings on uninstall bug #1597
		*2.0.2* Add he_IL translation
	</changelog>
	<location>release/2.2/parking-2.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-ParkingLot</info>
	<md5sum>1c2ca325423c117580381a5ec4773d19</md5sum>
</module>
