[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Install Linux MCE
Comment=Install Linux MCE Media Center
Exec=/usr/share/mce-installer/mce-installer.sh
Icon=/usr/share/pixmaps/gnome-cd.png
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Application;Audio;Music;Player;AudioVideo;X-Ximian-Main;X-Novell-Main;X-Red-Hat-Base;

