Source: lmce-screen-capture-camera
Section: unknown
Priority: extra
Maintainer: root <root@fluffybitch.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: lmce-screen-capture-camera
Architecture: any
Depends: libice6, libxmuu1, libxpm4, libxt6, imagemagick, ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
