Source: mythtv
Section: graphics
Priority: optional
Maintainer: Christian Marillat <marillat@debian.org>
Bugs: mailto:marillat@debian.org
Homepage: http://www.mythtv.org/
XS-Python-Version: 2.5
Standards-Version: 3.8.4
Build-Conflicts: libmyth-dev, qt3-dev-tools, libartsc0-dev
Build-Depends: debhelper (>> 7),libmp3lame-dev, libxext-dev, libvorbis-dev,
 libdvb-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], libimlib2-dev,
 libmysqlclient-dev | libmysqlclient15-dev, libfreetype6-dev, libjack-dev,
 libavc1394-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], libfaad-dev,
 liblircclient-dev, libasound2-dev, libxinerama-dev, libdts-dev, quilt,
 libiec61883-dev (>= 1.0.0) [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64],
 libxxf86vm-dev, po-debconf, libxvmc-dev, libdvdnav-dev, texi2html, ccache,
 libssl-dev, yasm [i386 amd64], libxrandr-dev, libfftw3-dev, python-support,
 linux-kernel-headers [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], libfaac-dev,
 libgl1-mesa-dev | libgl-dev, libfribidi-dev, liba52-0.7.4-dev, libxvidcore4-dev,
 xserver-xorg-video-openchrome [i386 amd64], libpulse-dev, libqt4-opengl-dev,
 libdirectfb-dev, libvdpau-dev [i386 amd64], distcc [mipsel]

Package: mythtv
Architecture: all
Pre-Depends: mysql-server
Depends: mythtv-database (>= ${source:Version}), mythtv-frontend (>= ${source:Version}), mythtv-backend (>= ${source:Version}), ${misc:Depends}
Recommends: mythtv-doc, mythtv-themes
Description: A personal video recorder application (client and server)
 MythTV implements the following PVR features, and more, with a
 unified graphical interface:
 .
  - Basic 'live-tv' functionality. Pause/Fast Forward/Rewind "live" TV.
  - Video compression using RTjpeg or MPEG-4
  - Program listing retrieval using XMLTV
  - Themable, semi-transparent on-screen display
  - Electronic program guide
  - Scheduled recording of TV programs
  - Resolution of conflicts between scheduled recordings
  - Basic video editing
 .
 This package will install a complete MythTV client/server environment on a
 single system.
 .
 The powerpc packages were compiled with altivec and sparc packages with
 ultra-sparc support.

Package: mythtv-common
Architecture: all
Pre-Depends: pwgen
Depends: adduser, mysql-client, ttf-freefont, ttf-dejavu-core, ${misc:Depends}
Recommends: mythtv-doc (= ${source:Version})
Conflicts: mythtv (<< 0.8-1)
Replaces: mythtv (<< 0.8-1), mythtv-frontend (<< 0.15-3), mythtv-backend (<= 0.20.2.svn20071021-0.0), mythmusic (<= 0.20.2.svn20080126-0.0), mythtv-themes (<= 0.21.svn20090824-0.4), mythcontrols (<< 0.22-0.5)
Description: A personal video recorder application (common data)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains infrastructure needed by both the client and the
 server.

Package: mythtv-doc
Architecture: all
Conflicts: mythtv (<< 0.8-1)
Section: doc
Depends: ${misc:Depends}
Replaces: mythtv (<< 0.8-1)
Description: A personal video recorder application (documentation)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains documentation, including the MythTV HOWTO.

Package: mythtv-database
Architecture: all
Depends: mythtv-common (= ${source:Version}), libdbd-mysql-perl, mysql-client, cron, ${misc:Depends}
Recommends: mysql-server
Conflicts: mythtv (<< 0.8-1), mythtv-common (<< 0.8-2)
Replaces: mythtv (<< 0.8-1), mythtv-common (<< 0.8-2)
Description: A personal video recorder application (database)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 The powerpc packages were compiled with altivec and sparc packages with
 ultra-sparc support.
 .
 This package sets up a MySQL database for use MythTV. It should be
 installed on the system where the MySQL server resides.

Package: mythtv-backend
Architecture: any
Depends: mythtv-common (= ${source:Version}), ${shlibs:Depends}, cron, wget, transcode, ${misc:Depends}
Conflicts: mythtv (<< 0.8-1)
Replaces: mythtv (<< 0.8-1), mythtv-frontend (<= 0.20-0.4)
Recommends: mythtv-database, logrotate, xmltv-util
Suggests: mythtv-frontend, mythweb
Description: A personal video recorder application (server)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains only the server software, which provides video and
 audio capture and encoding services. In order to be useful, it requires a
 mythtv-frontend installation, either on the same system or one reachable
 via the network.
 .
 A database is also required. The mythtv-database package must be installed,
 either on the same system, or one reachable via the network.
 .
 The powerpc packages were compiled with altivec and sparc packages with
 ultra-sparc support.
 .
 For a complete installation of all MythTV components, install the 'mythtv'
 package.

Package: mythtv-frontend
Architecture: any
Depends: mythtv-common (= ${source:Version}), ${shlibs:Depends}, adduser, ${misc:Depends}
Suggests: mythtv-backend, mythmusic, mythweather, mythgallery, mythvideo, mythgame
Conflicts: mythtv (<< 0.8-1), mythstream (<< 0.20)
Replaces: mythtv (<< 0.8-1)
Description: A personal video recorder application (client)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains only the client software, which provides a front-end
 for playback and configuration. It requires access to a mythtv-backend
 installation, either on the same system or one reachable via the network.
 .
 A database is also required. The mythtv-database package must be installed,
 either on the same system, or one reachable via the network.
 .
 The powerpc packages were compiled with altivec and sparc packages with
 ultra-sparc support.
 .
 For a complete installation of all MythTV components, install the 'mythtv'
 package.

Package: libmyth-0.23-0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-sql-mysql
Conflicts: mythtv (<< 0.7-5), libmyth-0.21
Replaces: mythtv (<< 0.7-5), libmyth-0.21
Description: Common library code for MythTV and add-on modules (runtime)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 The powerpc packages were compiled with altivec and sparc packages with
 ultra-sparc support.
 .
 This package contains a shared library, libmyth, which is used by various
 components in the system.

Package: libmyth-dev
Architecture: any
Section: libdevel
Depends: libmyth-0.23-0 (= ${binary:Version}), ${misc:Depends}
Conflicts: libmyth-0.20-dev
Replaces: libmyth-0.20-dev
Description: Common library code for MythTV and add-on modules (development)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains files needed for developing applications which use
 libmyth (such as the various add-ons for MythTV)

Package: libmythtv-perl
Architecture: all
Section: perl
Replaces: mythtv-perl (<= 0.20.2.svn20071109-0.0)
Conflicts: mythtv-perl (<= 0.20.2.svn20071109-0.0)
Depends: ${perl:Depends}, ${misc:Depends}, libdbi-perl, libdbd-mysql-perl, libwww-perl, libnet-upnp-perl
Description: A personal video recorder application (common data)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains Perl bindings to access mythtv datas.

Package: python-mythtv
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends}
Description: A personal video recorder application (common data)
 MythTV provides a unified graphical interface for recording and viewing
 television programs. Refer to the mythtv package for more information.
 .
 This package contains Python bindings to access mythtv datas.

Package: mythtv-perl
Architecture: all
Depends: libmythtv-perl, ${misc:Depends}
Section: perl
Description: Dummy package to install libmythtv-perl
 This package can be removed.
