<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{Title}</title>
<script language="JavaScript">
<!--
function open_popup(page,params) {
window.open(page,'PopupWindow',params);
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>


		
 {CssFile}
 {JavaScripts}
 {ScriptValidateSrc}

 
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
{ScriptInHead}
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="MM_preloadImages('images/b_what_is_pluto_on.gif','images/b_why_you_need_pluto_on.gif','images/b_how_pluto_works_on.gif','images/b_support_on.gif','images/b_get_pluto_on.gif')" {ScriptInBody}>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="123"><a href="index.php"><img src="images/logo.gif" alt="Pluto logo" width="123" height="111" border="0"/></a></td>
        <td width="435">&nbsp;</td>
        <td width="202" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="23">&nbsp;</td>
          </tr>
          <tr>
            <td align="right" class="login">{LoginLogoutButton}&nbsp;<br><br><!--login --><!-- BEGIN PHP Live! code, (c) OSI Codes Inc. -->
<script language="JavaScript" src="http://plutohome.com/phplive/js/status_image.php?base_url=http://plutohome.com/phplive&l=radu&x=1&deptid=3&btn=1"><a href=""></a></script>
<!-- END PHP Live! code : (c) OSI Codes Inc. --></td>
          </tr>
          <tr>
            <td height="10"><img src="images/spacer.gif"></td>
          </tr>
          <tr>
            <td align="right" class="login">{ChangeEmailPaswword}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#4272D6">
      <tr>
        <td width="9"><img src="images/corner_left.gif" width="9" height="31" /></td>
        <td width="110"><a href="index.php?section=what_is_pluto" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('what','','images/b_what_is_pluto_on.gif',1)"><img src="images/{b_what_is_pluto}" name="what" width="110" height="31" border="0" id="what" /></a></td>
        <td width="150"><a href="index.php?section=why_you_need_pluto" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('why','','images/b_why_you_need_pluto_on.gif',1)"><img src="images/{b_why_you_need_pluto}" name="why" width="150" height="31" border="0" id="why" /></a></td>
        <td width="139"><a href="index.php?section=how_pluto_works" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('how','','images/b_how_pluto_works_on.gif',1)"><img src="images/{b_how_pluto_works}" name="how" width="139" height="31" border="0" id="how" /></a></td>
        <td width="79"><a href="index.php?section=support" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('support','','images/b_support_on.gif',1)"><img src="images/{b_support}" name="support" width="79" height="31" border="0" id="support" /></a></td>
        <td width="84"><a href="index.php?section=get_pluto" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('get','','images/b_get_pluto_on.gif',1)"><img src="images/{b_get_pluto}" name="get" width="84" height="31" border="0" id="get" /></a></td>
        <td width="41">&nbsp;</td>
        <form name="searchForm" method="POST" action="index.php?section=search">
        <td width="140" valign="middle"><!--search --><input type="text" name="cuvant" value="" class="search" size="18"><INPUT type="image" src="images/b_search.gif" align="middle"></td>
        </FORM>
        <td width="8"><img src="images/corner_right.gif" width="8" height="31" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/spacer.gif" width="10" height="10" /></td>
          </tr>
      	<tr>
	        <td valign="top"><!--content-->{Body}</td>
    	</tr>          
        </table></td>
        <td width="18" rowspan="2">&nbsp;</td>
        <td width="189" rowspan="2" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="images/spacer.gif" width="10" height="10" /></td>
          </tr>
          <tr>
            <td><a href="javascript: open_popup('presentation.html','fullscreen=yes,status=0,menubar=0,titlebar=1,scrollbars=0,resizable=0')"><img src="images/flash_presentation.jpg" alt="Pluto flash presentation" width="189" height="152" border="0"/></a></td>
          </tr>
          <tr>
            <td><img src="images/spacer.gif" width="10" height="10" /></td>
          </tr>
          <tr>
            <td><!--news --><img src="images/b_news.gif"><br><br>{News}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="footer"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10"><img src="images/spacer.gif" width="10" height="10" /></td>
        <td>Copyright Pluto 2005 <strong>l <a href="index.php?section=company">company</a> l <a href="index.php?section=contact">contact</a> l <a href="index.php?section=newsPresentation">news</a> l </strong> </td>
        <td>&nbsp;</td>
        <td width="121"><a href="http://www.newflavorstudio.com" target="_blank"><img src="images/nfs.gif" width="121" height="32" border="0"/></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
