Source: mce-launcher
Section: unknown
Priority: optional
Maintainer: Paul Webber <paul.webber@linuxmce.com>
Depends: libgtk2.0-0, libvte4
Build-Depends: debhelper, autotools-dev, libgtk2.0-dev, libvte-dev
Standards-Version: 3.7.2

Package: mce-launcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
