          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/accesories.gif" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td><img src="images/cisco.jpg" width="250" height="250" /><br />
                <br />
                CISCO 7970 phone is plug-in-play device and Fiire adds it automatically when it'll be plugged in the network. You can use it to make calls and control your home as well.<br />
                <br />
                <br />
                <table border="0" cellspacing="0" cellpadding="5">
                  <tr>
                    <td><img src="images/c10.jpg" width="250" height="250" /></td>
                    <td><img src="images/c30.jpg" width="250" height="250" /></td>
                  </tr>
                </table>
                <br />
                <p>Network cameras or IP cameras are digital cameras that have a built-in web server. This allows the camera to be accessed by any computer on the same network using a web browser. Video is streamed to the web browser from the camera without additional equipment. In a Fiire system, the IP cameras are very easy to setup because they are plug-in-play. They can be wired or wireless.<br />
                  <br />
                  <br />
                    <img src="images/pvr-usb.jpg" width="250" height="250" /><br />
                    <br />
                  Hauppauge PVR USB2<br />
                    You can watch and record TV, pause TV with instant replay, record to disk your home videos, or listen to FM radio. It&rsquo;s also plug-in-play, so it installs very easy with Fiire.<br />
                    <br />
                    <br />
                    <img src="images/hdtv.jpg" width="250" height="250" /><br />
                    <br />
                  HDHomeRun is a Networked Digital TV Tuner. You can watch over-the-air digital TV from all computers in your home. It&rsquo;s a dual tuner - Record/watch multiple channels at once.<br />
                </p></td>
            </tr>
          </table>
