	<form name="log" method="POST" action="">
	<table class="other_text">
		<tr>
			<td colspan="2" class="cat_title"><B>Contact us</B></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" align="center">{message}</td>
		</tr>	
		<tr>
			<td>Your name *</td>
			<td><input type="text" name="cname" value="{cname}"></td>
		</tr>
		<tr>
			<td>Your email *</td>
			<td><input type="text" name="cemail" value="{cemail}"></td>
		</tr>
		<tr>
			<td>Subject *</td>
			<td><input type="text" name="csubject" value="{csubject}"></td>
		</tr>

		<tr>
			<td>Description *</td>
			<td><textarea name="cdescription" rows="5" style="width:300px;"></textarea></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>		
		<tr>
			<td colspan="2">Notes:<br>* All fields are required<br></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="send" value="Send"></td>
		</tr>		
	</table>
	</form>