          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="570" height="34" class="white_title" style="background:url(images/generic.gif) no-repeat;">&nbsp;&nbsp;&nbsp;{dealer_title}</td>
            </tr>            
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
				<p>
					To find a local dealer, custom installer, or another Fiire user with an open house event, choose your country and region below.
				</p>
            </td>
			  </tr>
            <tr>
              <td>
				
<form name="form1" method="POST" action="dealer.php">
				<table width="100%">
					<tr>
						<td colspan="2" align="center">{message}</td>
					</tr>				
					<tr>
						<td>Country</td>
						<td>{country_pulldown}</td>
					</tr>
					<tr>
						<td>Region</td>
						<td>{region_pulldown}</td>
					</tr>
					<tr>
						<td>City</td>
						<td>{city_pulldown}</td>
					</tr>
					<tr>
						<td>Show only</td>
						<td>{dealer_type_pulldown}</td>
					</tr>	
					<tr>
						<td colspan="2"><em>Highlighted locations have matches.</em></td>
					</tr>	
					<tr>
						<td colspan="2">{dealers_table}</td>
					</tr>					
				</table>
</form>									
            </td>
			  </tr>

            <tr>
              <td>
              <p>Become a <a href="record_dealer.php?categ=1">dealer</a> or <a href="record_dealer.php?categ=2">custom installer</a>, or announce <a href="record_dealer.php?categ=3">an open house event</a>.
				</p>
				
            </td>
			  </tr>

</table>