<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td><img src="images/surefiire.jpg" width="570" height="34" /></td>
</tr>
<tr>
    <td><img src="images/spacer.gif" width="4" height="2" /></td>
</tr>
<tr>
    <td>
	<p><strong>How dealers and others promote their goods, services and events with Fiire</strong></p>
	<p>Fiire invites everyone that sells media or smart-home products to list themselves as a dealer in a database whether or not they will sell Fiire products, or even if they sell only competing products.
	Our dealer database is intended to be a resource for shoppers to find local dealers of not only Fiire products, but also all the other components, like security and lighting
	control, that make up a total smarthome solution.  If you offer installation services and could install a Fiire system including running the cabling and wall-mounting a TV,
	you are encouraged to list yourself in our database as a custom installer.  If you want to announce an event, like an open house, where interested persons can
	see a Fiire system in action, you can add that to your 'My Account' page also.  Even end-users who do not sell or install any products can announce open house
	events if they want to sign up new customers under them and <a href="get-fiired.php">get paid commissions from Fiire</a>.  Users
	can offer multiple services, and in multiple areas.  Fiire does not require any committment or application, and does not do any screening.  Rather, we 
	have a rating system so other users can comment on their experiences with dealers.  It is community-drive, like e-Bay.</p>
	<p>Not everyone who lists themselves as a dealer will sell Fiire equipment.  Some may sell accessories and smarthome components.  Some may even sell
	competing competing solutions.  Dealers who do sell Fiire products are highlighted in the directory since they are likely a 1-stop solution.</p>
	<p>If a dealer does wish to resell Fiire equipment, it is easy to do so, and no application is required.  Fiire's products are sold at extremely slim margins,
	so there is not the traditional profit margin for dealers.  However, Fiire does set aside 15% of the purchase price for marketing and promotion, which
	is normally paid out in the form of <a href="get-fiired.php">commissions for referring</a> Fiire.  Once a user has purchased one Fiire Engine, and has listed
	himself as a dealer, there will be an option on his "My account" page called "I resell Fiire".  Choose this option and on all future purchases the dealer 
	can purchase Fiire equipment at a 15% discount, instead of having that 15% go to referral fees.  The dealer can then resell the Fiire equipment at any 
	price he sets, and may bundle it with other smart home gear as well as installation services.
	</p>
	<p>Because Fiire provides no screening of dealers, users are encouraged to verify the dealer's credentials and read carefully the reviews left by other users.</p>
    </td>
  </tr>
</table>