          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/features.jpg" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
Fiire is the most advanced solution for home automation and media control available on the shelves right now, which does everything that the $100,000+ solutions from Crestron, Control 4, AMX, Kaleidescape, LifeWare and Escient do.<br>
See next a short description of Fiire.
<p>
<B>Enjoy media</B><br>
From now on you'll find media more existing!<br>
With Fiire you can watch TV (cable box or satellite) and record your favorite shows, watch a DVD or listen a CD; copy a DVD or CD to your Fiire Engine; watch or listen to stored media; play the same media in multiple rooms simultaneously; catalog media with attributes; search media for attributes; make your media follow you in the house, or make announcements.
<p>
<B>Throw all remotes</B><br>
Everything is controlled with only 3 buttons on one remote, the FiireChief.  Yes, those same 3 buttons control everything from your existing TV and Stereo, to the media playback on your Fiire Station, the level of lighting in the room and the temperature of your jacuzzi.  You can also control everything using a traditional i/r remote, mobile phone, tablet pc's, pda or desktop phone.

<p>
<B>Control regular devices</B><br>
Fiire can automatically your control lighting and climate, all your a/v gear with IR or RS232, your home security system, surveillance cameras, regular phones or VOIP phones, etc.

<p>
<B>What you can do with Fiire</B><br>
<ul>
	<li>You can make things happen at certain times, like sunset or sunrise;</li>
	<li>Make things happen when entering/leaving the room;</li>
	<li>Make your media follow you;</li>
	<li>Control everything from an interactive floor plan;</li>
	<li>You can browse a web page or switch to computing applications like document editing or games;</li>
	<li>You can set Fiire to turn all your lights or media off when you go to sleep;</li>
	<li>Turn your TV off when you don't use it;</li>
	<li>Have a full-featured VOIP phone system with auto-attendant and voice mail;</li>
	<li>Get notified on security alerts; watch the screenshots associated with alerts;</li>
</ul>

<p>
The FiireEngine is a powerful, commercial-grade home server that runs everything, and can include a massive amount of secure internal storage for all your media and files.  The FiireStation is 
the media player that hides invisibly and silently behind your flat panel TV and gives you media and system control in every room.
</p></td>
            </tr>
          </table>