          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/products.jpg" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td><br />
                  <table width="0%" border="0" cellspacing="0" cellpadding="1">
                    <tr>
                      <td><img src="images/fire_station_big.jpg" width="570" height="321" /></td>
                    </tr>
                    <tr>
                      <td align="center"><span class="black"><b>Starting at:</b> <span class="price">$599</span></span></td>
                    </tr>
                    <tr>
                      <td align="center"><a href="{shop_fiire_station}"><img src="images/b_buy.gif" width="188" height="29" border="0" /></a></td>
                    </tr>
                  </table>
                <br />
                <p>The FiireStation runs LinuxMCE and can be used as a standard  medium-performance PC.&nbsp; However, it also has specialized video decoding hardware  to provide the best video quality, and offload all video processing, including  sophisticated 1080i de-interlacing, OpenGL 3D effects, and alpha blending, all  in the video hardware.&nbsp; The end result is you get better video quality than  the massive, high end Windows Vista MCE systems, which require very expensive, power-hungry,  hot processors to do the 3D alpha blended effects in Aero and video playback in  MCE.&nbsp; The FiireStation offers even better video and a smoother UI  experience while drawing as little as 9 watts of power, about 1/20th  what a Windows Vista Media Center PC draws.&nbsp; That translates to a couple  hundred dollars a year in energy savings if you leave your Media PC on all the  time.</p>
                <p>The FiireStation is available in 2 versions: A 1&rdquo; thin vertical  mount designed to hide behind a plasma TV, and a standard set top box.</p>
                <p>The vertical mount version means for the first time ever, you can have  a full HD PVR and media player solution without any visible set top box or  exposed cables.&nbsp; It comes with VESA mount holes.&nbsp; Most flat panel TV&rsquo;s  have VESA holes in the back for attaching them to a wall mount.&nbsp; So if  your flat panel TV sits on a base, and not a wall mount, the FiireStation attaches  directly to the back of the TV using the VESA holes.&nbsp; If your flat panel  TV is mounted to a wall, the FiireStation is thin and narrow enough to fit  inside a typical wall mount and can be attached to the wall, the mounting  bracket, or the back of the TV.&nbsp; The vertical mount version costs more because  it uses specialized precision components with ultra-lower power consumption so  that it is only 1&rdquo; thick, has no fans or vents, and can be tucked away in  the small space between a TV and the wall.</p>
                <p>The standard set top box version has more room in it and extra  connections, including component video and SPDIF for digital audio.&nbsp; The  vertical mount version does not provide SPDIF connectors because flat panel TV&rsquo;s  do not have SPDIF inputs.&nbsp; If you are using this in an equipment rack and  have a receiver with SPDIF, the standard set top box version is better.&nbsp;  Plus, you can have a local DVD/CD player in the standard set top box  version.&nbsp; For the vertical mount version, you can leave your CD&rsquo;s or  DVD&rsquo;s in a jukebox attached to the FiireEngine.</p>
                <ul>
                  <li>Software: LinuxMCE 1.1</li>
                  <li>User Interface: UI2 with alpha blending</li>
                  <li>Processor: Via Eden  1.5 Ghz.&nbsp; Ultra low power 9 watt in the vertical mount version, and 20  watt in the set top box version</li>
                  <li>RAM:  512MB</li>
                  <li>Internal Hard drive for operating system: 40GB.&nbsp;  All system drives in the FiireEngine are mounted for data storage.</li>
                  <li>Network: Gigabit Ethernet</li>
                  <li>Audio: Via Vinyl 6 channel audio, with line in,  line out and mic.&nbsp; Standard set top box version also has SPDIF coas and  tos-link for digital audio</li>
                  <li>Video: Via UniChrome Pro II, with proprietary  drivers and special alpha blended MPEG 2/4 and WMV9 acceleration</li>
                  <li>IO: 4 USB 2.0 ports, 2 PS/2, 1 COM</li>
                  <li>Dimensions &ndash; vertical mount: 168 (h) x 300  (w) x 25.4 (d) mm</li>
                  <li>Weight &ndash; vertical mount: 1200g</li>
                </ul>
                </td>
  </tr>
</table>