          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/get-fiired.jpg" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td><p>Want to make some easy money?</p><p>Just pick a user name  for yourself <a href="register.php"><b>here</b></a>.&nbsp; Then tell your friends to check out <span id="mail-highlight-id">Fiire</span> and to  provide your username as the &quot;Referred by&quot; when they sign up.&nbsp; If one of  your friends makes a purchase, you get a 10%  commission.&nbsp; If any of the people your friends refer make a purchase, then  your friend gets the 10% commission, and you get a 4% commission.&nbsp; And if  one of them refers someone who makes a purchase, the direct referrer gets the  10% commission, your friend gets the 4% commission, and you still get a 1%  commission.</p>
                <p>So it works up to 3 levels down.&nbsp; If you refer 10  people, each of them refers 10 people, and each of them refers another 10  people, that means you will have indirectly referred 1,000 people, and if any  one of them makes a purchase, you get a commission.</p>
                <p>You don&rsquo;t even need to provide any personal information to  get going.&nbsp; Just pick a user name, tell  your friends to check out <span id="mail-highlight-id">Fiire</span>, and check back periodically to see how many  people signed up based on your initial referrals and how much commission you&rsquo;ve  earned.&nbsp; Then give us a paypal account, e-gold account, or bank account to  transfer your money to. </p>
                <p>If you're looking for a way to make even more, you can also announce on fiire.com an open house event to sign up people in your local community, or offer custom installation services, or become a dealer.  <a href="dealer.php"><b>Learn more</b></a></p>
              </td>
  </tr>
</table>