<table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="33%" valign="middle" class="login"><B>Welcome {uname}</B></td>
                  <td width="4%" valign="middle"></td>
                  <td width="63%" valign="middle" class="other_text"></td>
                </tr>
          		<tr>
            		<td class="login" colspan="3" class="login"> <a href="logout.php">Logout</a> :: <a href="myaccount.php">My account</a> </td>
          		</tr>                
              </table>
