          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/text_home.jpg" width="570" height="76" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="1">
  <tr>
    <td><a href="fiire-engine.php"><img src="images/p_fiire_engine.jpg" alt="Fiire Engine" width="188" height="195" border="0"/></a></td>
    <td><a href="fiire-station.php"><img src="images/p_fiire_station.jpg" alt="Fiire Station" width="188" height="195" border="0"/></a></td>
    <td><a href="fiire-chief.php"><img src="images/p_fiire_chief.jpg" alt="Fiire Chief" width="188" height="195" border="0"/></a></td>
  </tr>
  <tr>
    <td><img src="images/t_fiire_engine.gif" alt="Fiire Engine" width="123" height="19" /></td>
    <td><img src="images/t_fiire_station.gif" alt="Fiire Station" width="123" height="19" /></td>
    <td><img src="images/t_fiire_chief.gif" alt="Fiire Chief" width="123" height="19" /></td>
  </tr>
  <tr>
    <td valign="top" class="other_text"><span class="black"><b>The main brain.</b></span><br />
Streams HD movies, music and TV to the FiireStations.  Includes up to 6,000 GB of storage with it's built-in RAID (approx 1,000 movies or 2 million songs).  Plus, it includes a highly advanced smarthome solution with lighting, climate, home security and surveillance, and a full-featured phone system.
    </td>
    <td valign="top" class="other_text"><span class="black"><b>Media extenders.</span></b><br />
		    Mounts invisibly behind your Plasma or LCD TV.  Only 1" thick, no fan, no vents, no noise.  Includes a multi-tuner high-def PVR and player for all the HD media and a/v equipment in the home, plus telephone and smarthome.  Finally, eliminate those ugly set top boxes, cables and equipment racks.
   </td>
    <td valign="top" class="other_text"><span class="black"><b>The next generation remote control</b></span><br />
		    With the built-in gyroscope, control the whole Fiire system, plus all your other a/v and home automation gear using only 3 buttons.  Built-in 'follow-me' media.  Browse huge catalogs of media and TV listings in a 3D graphical interface by waving the remote.  Find any scene in a movie in less than 2 seconds by tilting the remote back and forth.
		 <br />
    </td>
  </tr>
  <tr>
    <td><span class="black"><b>Starting at:</b> <span class="price">$799</span></span></td>
    <td><span class="black"><b>Starting at:</b> <span class="price">$599</span></span></td>
    <td><span class="black"><b>Starting at:</b> <span class="price">$149</span></span></td>
  </tr>
  <tr>
    <td><a href="{shop_fiire_engine}"><img src="images/b_buy.gif" alt="Buy Fiire" width="188" height="29" border="0"/></a></td>
    <td><a href="{shop_fiire_station}"><img src="images/b_buy.gif" alt="Buy Fiire" width="188" height="29" border="0"/></a></td>
    <td><a href="{shop_fiire_chief}"><img src="images/b_buy.gif" alt="Buy Fiire" width="188" height="29" border="0"/></a></td>
  </tr>
</table>

			  
			  </td>
            </tr>
          </table>
