          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/open-fiire.jpg" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td><p>Fiire gives back to the open source community, including sponsoring Linux MCE projects, and giving free Fiire systems to active developers.</p>
              </td>
  </tr>
</table>