          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/redirect.jpg" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
              <p>You will be redirected to Polywell, who handles all  manufacturing, order fulfillment and warranty repairs for Fiire.  Read the <a href="sure_fiire.php">Fiire warranty, SureFiire guarantee, and return policies</a> first, as they differ from other Polywell products.<br /></p>
              <p>Note that <strong><em>Fiire pays you money</em></strong> for every referral you provide, and if someone referred you and you buy Fiire  products from Polywell, <strong><em>we  will pay that person</em></strong> for making the referral.&nbsp; Since Fiire  and Polywell have separate systems, be sure when you complete your purchase at polywell.com  you use the same email address you specified in your <a href="myaccount.php">Fiire account</a>.&nbsp; <br />
              We retrieve  the orders from Polywell every day, so after you make your purchase, the credit  will appear on Fiire 24 hours later.<br /></p>
              
              {poywell_info}
              <div align="center"><a href="{url}"><img src="images/continue.gif" border="0"></a></div>
              </td>
  </tr>
</table>