<script>var lang="en";</script>
<script language='JavaScript' src='js/popcalendar.js'></script>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/record_dealer.gif" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
				<p>Become a dealer or custom installer, or announce an open house event.
				</p>
				<form name="form1" method="POST" action="{form_action}">
				<input type="hidden" name="id" value="{id}">
				<table>
					<tr>
						<td colspan="2" align="center">{message}</td>
					</tr>				
					<tr>
						<td>Country</td>
						<td>{country_pulldown}</td>
					</tr>
					<tr>
						<td>Region</td>
						<td>{region_pulldown}</td>
					</tr>
					<tr>
						<td>City</td>
						<td>{city_pulldown}</td>
					</tr>
					<tr>
						<td>City name *</td>
						<td><input type="text" name="cityname" value="{cityname}"></td>
					</tr>					
					<tr>
						<td>Type of offering</td>
						<td>{categ_pulldown}</td>
					</tr>
					{from_to_dates}
					<tr>
						<td>Title</td>
						<td><input type="text" name="title" value="{title}"></td>
					</tr>					
					<tr>
						<td>URL</td>
						<td><input type="text" name="url" value="{url}"></td>
					</tr>
					<tr>
						<td>Description</td>
						<td><textarea name="description" rows="5" style="width:300px;">{description}</textarea></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type="submit" name="save" value="Save"></td>
					</tr>					
					<tr>
						<td colspan="2"><em>* If it's not in the list</em></td>
					</tr>					
					
				</table>
				</form>
            </td>
			  </tr>

</table>