	<form name="log" method="POST" action="register.php">
	<table class="other_text">
		<tr>
			<td colspan="2" class="cat_title"><B>Registration form</B></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="2" class="err" align="center">{error}</td>
		</tr>	
		<tr>
			<td>Username *</td>
			<td><input type="text" name="regusername" value="{regusername}"></td>
		</tr>
		<tr>
			<td>Password *</td>
			<td><input type="password" name="regpassword1" value=""></td>
		</tr>
		<tr>
			<td>Confirm password *</td>
			<td><input type="password" name="regpassword2" value=""></td>
		</tr>
		<tr>
			<td>Who referred you?  Enter that person's username: **</td>
			<td><input type="text" name="referrer" value="{referrer}"></td>
		</tr>
		<tr>
			<td>Comments</td>
			<td><textarea name="comments" rows="5" style="width:300px;"></textarea></td>
		</tr>
		<tr>
			<td colspan="2"><input type="checkbox" name="publicUser" checked value="1"> Let the general public see my username and amount I've referred in the top performers section of the website if I am a top performer.</td>
		</tr>
		<tr>
			<td colspan="2"><input type="checkbox" name="publicComments" checked value="1"> Make the comments above also visible to the general public.</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>		
		<tr>
			<td colspan="2">Notes:<br>* All fields are required<br>
		** By providing the user name of the person who referred you, you authorize Fiire to disclose to that person, as well as to the persons who directly and indirectly him or her, how much your total purchase was so we can pay them their commission.  We will not disclose any personal information; only your username, the amount you purchased, and the comments you provide below.

<br>Since we don't give out your personal information, if you want the person(s) who referred you to know who you are, or have some message for them, enter that here in the comments box, and the person(s) who referred you will be able to read it when they see your username and how much you spent.	
			</td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" name="register" value="Register"></td>
		</tr>		
	</table>
	</form>