          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/report_an_issue.gif" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
				<p>Use our ticketing system to report an issue.
				</p>
				<form name="form1" method="POST" action="report.php">
				<table>
					<tr>
						<td colspan="2" align="center">{message}</td>
					</tr>				
					<tr>
						<td>Description</td>
						<td><textarea name="description" rows="5" style="width:300px;">{description}</textarea></td>
					</tr>
					<tr>
						<td colspan="2" align="center"><input type="submit" name="save" value="Open ticket"></td>
					</tr>					
				</table>
				</form>
            </td>
			  </tr>

</table>