          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/showcase.gif" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
              	<p>In the interior design magazines and architectural showcase homes you never see a rack of a/v equipment or any cables.  Just a flat panel TV mounted on the wall like a picture.  
              	What they don't tell you is that to make that functional you need to have a contractor build a hidden equipment closet behind that wall.  The problem is that until
              	the advent of Fiire, you always needed to connect your video sources, such as TiVo's, DVD Players, VCR's, digital media adapters like AppleTV, cable/satellite boxes, etc,. directly to the TV.  
              	Since few people are able to build hidden equipment closets behind their walls, the reality is that most of us spend a lot of hard-earned money to buy a flat panel TV,
              	hoping to get the clean look shown in the magazines, but then end up not getting what we paid for since we can't get rid of that ugly rack of set top boxes and cables.</p>
              	<p>Not any more.  Now, you need to buy just 1 FiireEngine for the home.  Gather up all those a/v sources, such as TiVo's, VCR's, cable boxes, etc., 
					scattered throughout your home.  Put them all in one place, connected to the FiireEngine.  Then hide a FiireStation invisibly behind each TV.  
					The FiireChief is the only remote you'll need,
					and it will work the same in each room in the home, regardless of the brand of your TV.  At each FiireStation you will have an HD PVR and media player, and the FiireStation
					will present the list of a/v devices connected to the FiireEngine.  When you choose a device, the audio & video are forwarded from the FiireEngine to the FiireStation,
					and whatever buttons you press on the FiireChief remote are relayed back to the FiireEngine, which sends them to your source device as i/r codes.  The end result is
					that in each room you have only your flat panel TV on the wall, just like in the interior design magazines.  And as a bonus, you need only 1 remote control, the FiireChief,
					to control everything in your home.</p>
					<p>Fiire is the only solution for flat panel TV's.  CRT tube TV's and projection TV's sit horizontally on a shelf atop an equipment rack.
					Flat panel TV's are designed to mount vertically on the wall like a picture.  All the cable and sattelite boxes and PVR's, as well as DMA's like AppleTV, and even 
					high-end media players like Kaleidescape, were clearly designed for CTR & projection TV's because they were built to sit on a horizontal shelf in an equipment rack.
					Fiire is the first media solution designed for flat panel TV's that mounts vertically, between the TV and the wall, or attaches invisibly to the back of the TV if you're using a stand.
					</p>
              </td>
  </tr>
</table>