          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/support.jpg" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
				<p><strong>Email:</strong><br />
                Send  us an email at <a href="mailto:support@fiire.com">support@fiire.com</a> and  someone will reply shortly.</p>
                <p><strong>Trouble tickets:</strong><br />
                  You  can see the status of your trouble ticket by following the link <a href="http://fiire.com/tickets/">http://fiire.com/tickets/</a> <br />
                  The  tickets are added by qualified personnel but can be viewed anytime if you  provide the trouble id.</p>
                <p><strong>On-line support</strong><br />
                  Talk  with someone about your issues, or just call (877) on-fiire.<br />
                  Someone  is always on-line to take your call.<br />
                  A  person will add a new trouble ticket when talking with you and later you can  view it in our system.</p>
                <p><strong>Product literature</strong><br />
                  The  user manual is supplied with the product but it can be viewed on-line also. It  can be found at this link <a href="http://fiire.com/User_manual/">http://fiire.com/User_manual/</a> <br />
                  You  can also check: Brochures, Specs sheet and Overviews.</p>
                <p><strong>On-line help</strong><br />
                  A  proper documentation which explains how the product works can be found at this link <a href="http://linuxmce.com/wiki/">http://linuxmce.com/wiki/</a> . Various  devices and settings are there with great details.</p>
                <p><strong>Forums</strong></p>
              Check other users  experience and feedback using Fiire at <a href="http://forum.linuxmce.com/">http://forum.linuxmce.com/</a></td>
            </tr>
          </table>