          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><img src="images/support.jpg" width="570" height="34" /></td>
            </tr>
            <tr>
              <td><img src="images/spacer.gif" width="4" height="2" /></td>
            </tr>
            <tr>
              <td>
                <p><strong>Report an issue on-line:</strong><br />
                  You can report a problem by logging in and clicking the 'Report an issue' link on the 'My Account' page.</p>
                <p><strong>On-line chat</strong><br />
					Click the on-line chat link to speak directly with a Fiire rep.
					</p>
                <p><strong>Phone Support</strong><br />
                  Call us:<br>Toll-free (U.S. only): (877) on-fiire<br>
                  Los Angeles, CA, USA: +1 (213) 325-2667 </p>
                <p><strong>On-line self-help</strong><br />
                  Linux MCE has a <a href="http://wiki.linuxmce.com/">wiki with online documentation</a>, as well as <a href="http://forum.linuxmce.com/">forums</a>, and <a href="http://mantis.linuxmce.com/">bug reporting</a>.  Note LinuxMCE's user names and logins are not related to Fiire's.
                  </td>
            </tr>
          </table>