<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
{meta_refresh}
<title>{title}</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript" src="scripts.js"></script>

</head>

<body onload="MM_preloadImages('images/b_home_on.gif','images/b_products_on.gif','images/b_features_on.gif','images/b_support_on.gif','images/b_downloads_on.gif','images/b_company_on.gif')">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="760" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="84"><a href="index.php"><img src="images/fiire_logo.jpg" alt="Fiire website" width="168" height="142" border="0"/></a></td>
        <td width="24">&nbsp;</td>
        <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="37"><img src="images/spacer.gif" width="4" height="37" /></td>
          </tr>
          <tr>
            <td valign="middle"><label></label>
            {login_form}             </td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="54"><a href="index.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Home','','images/b_home_on.gif',1)"><img src="images/b_home_off.gif" name="Home" width="54" height="40" border="0" id="Home" /></a></td>
                <td width="2"><img src="images/spacer.gif" width="2" height="4" /></td>
                <td width="75"><a href="products.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Products','','images/b_products_on.gif',1)"><img src="images/b_products_off.gif" name="Products" width="75" height="40" border="0" id="Products" /></a></td>
                <td width="2"><img src="images/spacer.gif" width="2" height="4" /></td>
                <td width="144"><a href="features.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Features','','images/b_features_on.gif',1)"><img src="images/b_features_off.gif" name="Features" width="144" height="40" border="0" id="Features" /></a></td>
                <td width="2"><img src="images/spacer.gif" width="2" height="4" /></td>
                <td width="66"><a href="support.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Support','','images/b_support_on.gif',1)"><img src="images/b_support_off.gif" name="Support" width="66" height="39" border="0" id="Support" /></a></td>
                <td width="2"><img src="images/spacer.gif" width="2" height="4" /></td>
                <td width="88"><a href="downloads.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Downloads','','images/b_downloads_on.gif',1)"><img src="images/b_downloads_off.gif" name="Downloads" width="88" height="40" border="0" id="Downloads" /></a></td>
                <td width="2"><img src="images/spacer.gif" width="2" height="4" /></td>
                <td width="73"><a href="company.php" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Company','','images/b_company_on.gif',1)"><img src="images/b_company_off.gif" name="Company" width="73" height="40" border="0" id="Company" /></a></td>
                <td>&nbsp;</td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>&nbsp;</td>
        <td width="24" rowspan="2">&nbsp;</td>
        <td class="navbar"><!--NAVBAR --></td>
      </tr>
      <tr>
        <td width="84" valign="top" class="main_left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right"><a href="get-fiired.php" class="plink"><img src="images/t_get_fiired.gif" alt="Get Fiired" width="91" height="13" border="0"/></a></td>
          </tr>
          <tr>
            <td align="right" class="text_left"><!--GET FIIRED-->Fiire pays you to refer new customers.  <a href="get-fiired.php" class="plink">more</a></td>
          </tr>
             
          <tr>
            <td align="right"><a href="sure-fiire.php"><img src="images/t_sure_fiire.gif" alt="Sure Fiire" width="97" height="13" border="0" /></a></td>
          </tr>
          <tr>
            <td align="right" class="text_left"><!--SURE FIIRE -->
            Fiire works with your existing devices and guarantees total satisfaction, or your money back.  <a href="sure-fiire.php" class="plink">more</a>
            </td>
          </tr>
          
          <tr>
            <td align="right"><a href="open-fiire.php"><img src="images/t_open_fiire.gif" alt="Open Fiire" width="95" height="16" border="0" /></a></td>
          </tr>
          <tr>
            <td align="right" class="text_left"><!--OPEN FIIRE-->
            Fiire supports the open source community with sponsorships and free systems for developers.  <a href="open-fiire.php" class="plink">more</a></td>
          </tr>
          
          <tr>
            <td align="right"><a href="fiire-up-the-press.php"><img src="images/t_fiire_up_the_press.gif" alt="Fiire up the press" width="88" height="31" border="0" /></a></td>
          </tr>
          <tr>
            <td align="right" class="text_left"><!--FIIRE UP THE PRESS-->
            Free systems for the press to evaluate <a href="fiire-up-the-press.php" class="plink">more</a></td>
          </tr>
          
          <tr>
            <td align="right"><a href="fiire-is-hiring.php"><img src="images/fiire_is_hiring.gif" alt="Fiire is hiring" width="120" height="24" border="0" /></a></td>
          </tr>
          <tr>
            <td align="right" class="text_left"><!--GET FIIRED-->Hiring developers & tech support worldwide to work from home.  <a href="fiire-is-hiring.php" class="plink">more</a></td>
          </tr>
          <tr>
            <td align="right">&nbsp;</td>
          </tr>
        </table></td>
        <td valign="top" class="other_text">{nav_menu}<br>{content}<!--CONTENT -->
          &nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td class="footer"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" valign="middle" class="footer1"><a href="index.php">Home</a> :: <a href="products.php">Products</a> :: <a href="features.php">Features &amp; Benefits</a> :: <a href="support.php">Support</a> :: <a href="downloads.php">Downloads</a> :: <a href="company.php">Company</a> </td>
        </tr>
        <tr>
          <td align="center" valign="middle" class="footer2">Copyright Fiire 2007 </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
