<html>
<head>

		<meta http-equiv="Content-Language" content="en">        
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 03 Jan 2000 00:00:01 GMT" />
        <meta name="keywords" content="">
		<meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        {MetaTags}
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        
<title>{Title}</title>
<script language="JavaScript"><!--
function open_popup(page,w,h) {
window.open(page,'PopupWindow','width='+w+',height='+h+',resizable=no,statusbar=no,scrollbars=yes');
}
//--></script>


		
 {CssFile}
 {JavaScripts}
 {ScriptValidateSrc}
 
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
{ScriptInHead}
</head>

<body {ScriptInBody}>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" background="images/back_header.jpg"><table width="900"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="1">&nbsp;</td>
        <td width="273" background="images/back_search.jpg"><table width="225"  border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="124"><img src="images/live_support.jpg" width="124" height="36" /></td>
                <td width="102" valign="top"><!-- BEGIN PHP Live! code, (c) OSI Codes Inc. -->
<script language="JavaScript" src="http://plutohome.com/phplive/js/status_image.php?base_url=http://plutohome.com/phplive&l=radu&x=1&deptid=0&btn=1"><a href=""></a></script>
<!-- END PHP Live! code : (c) OSI Codes Inc. --></td>
				<td width="31"><img src="images/header_colt_1.jpg" width="31" height="36" /></td>
              </tr>
          </table></td>
        <td width="226" background="images/back_search.jpg"><table width="226"  border="0" cellpadding="0" cellspacing="0">
        <form name="form2" method="post" action="index.php?section=search">
              <tr>
                <td width="132" background="images/back_search.jpg"><input type="text" name="cuvant" value="" class="search"></td>
                <td width="94"><input type="image" src="images/buton_search.jpg" name="search""></td></form>
              </tr>
          </table></td>
        <td>&nbsp;</td>
        <td width="141"><table width="141"  border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="18"></td>
            <td width="1">&nbsp;</td>
            <td width="239">{LoginLogoutButton}</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center"><table width="900" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><table width="900" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="149"><a href="index.php"><img src="images/logo.jpg" width="149" height="228" border="0"></a></td>
            <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="751" height="229">
              <param name="movie" value="default_home.swf?img={ImgName}&pid={PageID}">
              <param name="quality" value="high">
              <embed src="default_home.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="751" height="229"></embed>
            </object></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>{Body}</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" background="images/back_footer.gif"><table width="900" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="124"><img src="images/copyright.gif" width="124" height="33"></td>
        <td width="88"><a href="index.php?section=privacy_policy"><img src="images/privacy.gif" width="88" height="33" border="0"></a></td>
        <td width="61"><a href="index.php?section=site_map"><img src="images/site_map.gif" width="61" height="33" border="0"></a></td>
        <td width="71"><a href="index.php?section=contact"><img src="images/contact.gif" width="71" height="33" border="0"></a></td>
        <td width="87"><img src="images/pluto.gif" width="87" height="33"></td>
        <td>&nbsp;</td>
        <td width="115"><a href="http://www.newflavorstudio.com" target="_blank"><img src="images/nfs.gif" width="115" height="33" border="0"></a></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
