;;
;; adding music on hold mannually:
;; 
;; please note that while this does work, this is the wrong way of doing this
;; 
;;
;; TS-1 users notice: 
;;   at the start of this procudure, you need to exec the command: "mountrw"
;;   and at the end, the command "fh-sync"
;;
;;
;; 1) mkdir /usr/share/asterisk/mohmp3/sting
;; 2) cp /etc/asterisk/musiconhold_custom.conf.sample /etc/asterisk/musiconhold_custom.conf
;; 3) uncomment the following line from the new custom configuration
;; class1 => custom:/usr/share/asterisk/mohmp3/class1,/usr/bin/ast-cmd wav-player 
;; 4) now you may add file wav files to /usr/share/asterisk/mohmp3/class1
;; 5) the files must be properly encoded wav files, named *.mp3. yes, the wavs must end 
;;    with mp3 extension. This is because asterisk 1.0 looks for *.mp3. 
;; 
;; The way I so this is:
;; sox file1.wav -c1 -t wav -r 8000 -t wav file1-8khz.wav resample -q
;; ln -s file1-8khz.wav  file1-8khz.wav.mp3

;; You can do this for any ammount of classes, at least until you ran out of disk
;; space ;-)
;;
;; Diego Iastrubni <diego.iastrubni@xorcom.com>
