

.normal {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.normalBold {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.normalLink {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	cursor:hand;
}
.normalLink:hover {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
	cursor:hand;
}
.normalBoldGreen {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #00AA00;
	text-decoration: none;
}
.normalBoldRed {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #AA0000;
	text-decoration: none;
}
.normalError {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}





.nav1Light {
	FONT-SIZE: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.nav1LightLink {
	FONT-SIZE: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.nav1LightLink:hover {
	FONT-SIZE: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}


.nav1Dark {
	FONT-SIZE: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.nav1DarkLink {
	FONT-SIZE: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.nav1DarkLink:hover {
	FONT-SIZE: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}