#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
export DH_COMPART = 4

export PROC := $(shell dpkg-architecture -qDEB_BUILD_GNU_CPU)

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

# some generics
confflags += --prefix=/usr --sysconfdir=/etc/asterisk

PACKEAGE:=asterisk-addons

DEBVERSION:=$(shell head -n 1 debian/changelog \
		    | sed -e 's/^[^(]*(\([^)]*\)).*/\1/')
UPVERSION:=$(shell echo $(DEBVERSION) | sed -e 's/^.*://' -e 's/-[0-9.]*$$//' -e 's/.dfsg$$//')

FILENAME := $(PACKEAGE)_$(UPVERSION).orig.tar.gz
URL := http://ftp2.digium.com/pub/asterisk/releases/asterisk-addons-$(UPVERSION).tar.gz

H323_DIR=asterisk-ooh323c

-include /usr/share/dpatch/dpatch.make

CFLAGS = -Wall -g -fPIC

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

autotools-stamp:
	for dir in . asterisk-ooh323c/config asterisk-ooh323c menuselect; do \
	rm -f $$dir/config.sub $$dir/config.guess ; \
	cp /usr/share/misc/config.sub $$dir/config.sub ; \
	cp /usr/share/misc/config.guess $$dir/config.guess ; \
	done
	touch $@

configure: config.status
config.status: patch-stamp autotools-stamp
	dh_testdir
	# Add here commands to configure the package.
	if [ ! -f asterisk-ooh323c/config.h_dist ]; then \
	  mv asterisk-ooh323c/config.h asterisk-ooh323c/config.h_dist ; \
	fi
	./configure $(confflags)
	#./asterisk-ooh323c/configure $(confflags)
	#./menuselect/configure $(confflags)


build: build-arch build-indep

build-arch: build-arch-stamp
build-arch-stamp: config.status
	$(MAKE) CFLAGS="$(CFLAGS)"
	touch $@

build-indep: build-indep-stamp
build-indep-stamp: config.status
	# Add here commands to compile the indep part of the package.
	#$(MAKE) doc
	touch $@

clean: clean-unpatched unpatch
clean-unpatched:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp config.status
	$(MAKE) distclean
	rm -f menuselect/mxml/Makefile menuselect/mxml/mxml.list
	dh_clean 

install: install-indep install-arch
install-indep:
#	dh_testdir
#	dh_testroot
#	dh_clean -k -i 
#	dh_installdirs -i
#	dh_install -i

INST_DIR=$(CURDIR)/debian/tmp
install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -a 
	dh_installdirs -a
	# Add here commands to install the arch part of the package into 
	# debian/tmp.
	install -d -m 755 $(INST_DIR)/usr/lib/asterisk/modules
	$(MAKE) install DESTDIR=$(INST_DIR)
	dh_install --sourcedir=$(INST_DIR) --list-missing

# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs -pasterisk-oo323c asterisk-ooh323c/ChangeLog
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
#	# -n: there are no /usr/lib libraries inthis package
	dh_makeshlibs -n
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
#
# Build architecture independant packages using the common target.
binary-indep: build-indep install-indep
#	$(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

print-version:
	@@echo "Debian version:          $(DEBVERSION)"
	@@echo "Upstream version:        $(UPVERSION)"

get-orig-source:
	@@dh_testdir
	@@[ -d ../tarballs/. ]||mkdir -p ../tarballs
	@@echo Downloading $(FILENAME) from $(URL) ...
	@@wget -N -nv -T10 -t3 -O ../tarballs/$(FILENAME) $(URL)

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install install-indep install-arch patch unpatch
