#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess.

# dpatch support
include /usr/share/dpatch/dpatch.make

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq ($(findstring debug,$(DEB_BUILD_OPTIONS)),)
CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
INSTALL_PROGRAM += -s
endif

# shared library versions, option 1
version=0.0.0
major=0
# option 2, assuming the library is created as src/.libs/libfoo.so.2.0.5 or so
#version=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/[0-9]+\.[0-9]+\.[0-9]+$$/)) print substr($$0,RSTART)}'`
#major=`ls src/.libs/lib*.so.* | \
# awk '{if (match($$0,/\.so\.[0-9]+$$/)) print substr($$0,RSTART+4)}'`

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CVERSION := $(shell dpkg-parsechangelog | grep '^Version:' | cut -d' ' -f2 | cut -d- -f1)

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f debian/po/messages.mo
	rm -f configure-stamp build-stamp
	debconf-updatepo
	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || $(MAKE) distclean
#	rm -f tools/smode2 tools/smode2.o config.log config.status

	dh_clean

configure: patch configure-stamp
configure-stamp:
	set -e
	dh_testdir

	./configure --build=$(DEB_BUILD_GNU_TYPE) --host=$(DEB_HOST_GNU_TYPE) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--libdir=\$${prefix}/lib \
		--sysconfdir=/etc/lirc/ \
		--with-driver=userspace \
		--with-syslog=LOG_DAEMON \
		--enable-sandboxed

	touch configure-stamp

build: configure build-stamp
build-stamp:
	set -e
	dh_testdir

	# Add here commands to compile the package.
	#$(MAKE) CFLAGS="$(CFLAGS)"
	$(MAKE)
	#$(MAKE) smode2 -C tools

	touch build-stamp

install: build-stamp

	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/lirc.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	#Rename 'rc' into 'irsend' to prevent clash with 'rc' package.
	#mv debian/tmp/usr/share/man/man1/rc.1 \
	#	debian/tmp/usr/share/man/man1/irsend.1
	#mv debian/tmp/usr/bin/rc debian/tmp/usr/bin/irsend

	install --mode=755 contrib/irman2lirc debian/tmp/usr/bin/

	#Allow building evenif vgalib is not available
	if [ -e tools/smode2 ]; then \
		install --mode=755 tools/smode2 debian/tmp/usr/bin/ ; \
	fi

	mkdir -p debian/tmp/etc/lirc/
	mkdir -p debian/tmp/usr/share/lirc/
	mkdir -p debian/tmp/etc/udev/rules.d/
	mkdir -p debian/tmp/usr/share/hal/fdi/preprobe/20thirdparty
	install --mode=644 debian/conf.placeholder  \
		debian/tmp/etc/lirc/lircd.conf
	install --mode=644 debian/conf.placeholder \
		debian/tmp/etc/lirc/lircmd.conf
	install --mode=644 debian/hardware.conf debian/tmp/etc/lirc/
	install --mode=644 debian/udev.rules \
		debian/tmp/etc/udev/rules.d/85-lirc.rules
	install --mode=644 debian/lirc.fdi \
                debian/tmp/usr/share/hal/fdi/preprobe/20thirdparty/lirc.fdi
	#rm debian/lirc/usr/lib/liblirc_client.la
	mkdir -p debian/tmp/usr/src/lirc-${CVERSION}
	cp -dpR drivers debian/tmp/usr/src/lirc-${CVERSION}/
	#rm -f debian/tmp/usr/src/lirc/drivers/Makefile*
	find debian/tmp/usr/src/lirc-${CVERSION} -name "*.o" -o -name Makefile.in \
		-o -name Makefile.am  -o -name "*.ko"| xargs rm

	for file in `find debian/tmp/usr/src/lirc-${CVERSION} -name Makefile`; \
		do sed -e 's/^Makefile:.*/Makefile:/g' \
			-e'/^CC *=/d' -e '/^KERNEL_LOCATION *=/d' \
				$$file > $$file.tmp && \
			mv $$file.tmp $$file; \
		done

	#cp config.h debian/tmp/usr/src/lirc-${CVERSION}/
	sed -n \
		-e'/define *DEV_LIRC\>/p' \
		-e'/define *LIRC_MAJOR\>/p' \
		config.h > debian/tmp/usr/src/lirc-${CVERSION}/config.h

	#Create dkms.conf
	echo "PACKAGE_NAME=\"lirc\"" > debian/modules-source/dkms.conf
	echo "PACKAGE_VERSION=\"${CVERSION}\"" >> debian/modules-source/dkms.conf
	echo "CLEAN=\"rm -f *.*o\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[0]=\"lirc_atiusb\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[0]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[1]=\"lirc_bt829\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[1]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[2]=\"lirc_cmdir\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[2]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[3]=\"lirc_dev\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[3]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[4]=\"lirc_i2c\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[4]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[5]=\"lirc_igorplugusb\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[5]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[6]=\"lirc_imon\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[6]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[7]=\"lirc_it87\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[7]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[8]=\"lirc_mceusb2\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[8]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[9]=\"lirc_mceusb\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[9]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[10]=\"lirc_pvr150\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[10]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[11]=\"lirc_sasem\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[11]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[12]=\"lirc_serial\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[12]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[13]=\"lirc_sir\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[13]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[14]=\"lirc_streamzap\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[14]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_NAME[15]=\"commandir\"" >> debian/modules-source/dkms.conf
	echo "BUILT_MODULE_LOCATION[15]=\"modules\"" >> debian/modules-source/dkms.conf
	echo "MAKE[0]=\"pushd \$${dkms_tree}/lirc/${CVERSION}/build; make debconf KSRC=\$$kernel_source_dir KVER=\$$kernelver; popd\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[0]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[1]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[2]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[3]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[4]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[5]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[6]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[7]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[8]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[9]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[10]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[11]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[12]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[13]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[14]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "DEST_MODULE_LOCATION[15]=\"/kernel/ubuntu/lirc\"" >> debian/modules-source/dkms.conf
	echo "AUTOINSTALL=\"yes\"" >> debian/modules-source/dkms.conf

	cp -dpR debian/modules-source/* debian/tmp/usr/src/lirc-${CVERSION}/
	mkdir -p debian/liblircclient-dev/usr/share/aclocal
	cp contrib/lirc.m4 debian/liblircclient-dev/usr/share/aclocal/

	#install logcheck files
	install -d debian/tmp/etc/logcheck/ignore.d.paranoid
	install -o root -g root -m 644 debian/logcheck.ignore \
			debian/tmp/etc/logcheck/ignore.d.paranoid/lirc
	install -d debian/tmp/etc/logcheck/ignore.d.server
	install -o root -g root -m 644 debian/logcheck.ignore \
			debian/tmp/etc/logcheck/ignore.d.server/lirc
	install -d debian/tmp/etc/logcheck/ignore.d.workstation
	install -o root -g root -m 644 debian/logcheck.ignore \
			debian/tmp/etc/logcheck/ignore.d.workstation/lirc

	find debian/tmp -type d -name .svn -exec rm -rf '{}' ';' -prune

# Build architecture-independent files here.
binary-indep: build install

	dh_installdocs -i
	dh_installchangelogs -i
	dh_install -i --sourcedir=debian/tmp --list-missing
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs -s ChangeLog
	#
	# build liblirc${major} package by moving files from lirc-dev
	#
	#rm -fr debian/lirc/usr/include

	dh_installdocs -s
	cp -dpR doc/html doc/images doc/irxevent.keys \
					debian/lirc/usr/share/doc/lirc/
	mkdir debian/lirc/usr/share/lirc
	cp -dpR remotes  debian/lirc/usr/share/lirc/remotes
	cp -dpR transmitters  debian/lirc/usr/share/lirc/transmitters
	cp -dpR doc/lirc.hwdb debian/lirc/usr/share/lirc
	cp -dpR doc/transmitter.hwdb debian/lirc/usr/share/lirc
	find debian/lirc -type d -name .svn -exec rm -rf '{}' ';' -prune
	dh_installexamples -s
	dh_install -s --sourcedir=debian/tmp --list-missing
	dh_installmenu -s
#	dh_installdebconf
	dh_installdebconf -plirc
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit -s --update-rcd-params="defaults 51"
	dh_installcron -s
	dh_installinfo -s
	dh_installmodules -s
#	dh_undocumented -s
	dh_installman -s
	@for i in lirc-x lirc-svga; \
	 do \
	 	rm -rf debian/$${i}/usr/share/doc/$${i} ;\
	done
	dh_link -s
	dh_strip -s
	dh_compress -s -X irxevent.keys
	dh_fixperms -s
#	dh_perl
#	dh_python
	dh_makeshlibs -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install autotools
