body {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	background-color: #EFEFEF;	
}			 

a {
	text-decoration: underline;
	color: #009108;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
	color: #46B801;
	font-size: 12px;
}

a.white_link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
}

a.white_link:hover{
	text-decoration: underline;
	color: #DDE4EF;
	font-size: 12px;
}

td {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
}

input {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
   background-color: #FFFFFF;
   border: 1px solid #000000;
}
.input_big {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
   background-color: #FFFFFF;
   width:230px;
   border: 1px solid #000000;
}
select {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
   background-color: #FFFFFF;
   width:130px;
}
input.button {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #E7ECF2;
   background-color: #00A008;
   border: 1px solid #AFBAD0;
}
input.button_fixed {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #E7ECF2;
   background-color: #00A008;
   border: 1px solid #AFBAD0;
   width:120px;
}

textarea {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
   background-color: #FFFFFF;
   border: 1px solid #000000;
   width:130px;
}

.menu_on {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(back_on.jpg);
}

.menu_off {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	background-image: url(back_off.jpg);
}

.menu_line_off {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #4E6CA6;
   background-color: #DDE4EF;
}

.menu_line_on {
   font-family: Arial, Verdana,  Helvetica, sans-serif;
   font-size: 12px;
   color: #4E6CA6;
   background-color: #EFF2F9;
}

.menu_left_main {
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #4E6DA1;
   background-color: #E7ECF2;
   border-bottom: 1px solid #FFFFFF;
}

.menu_left {
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #4E6DA1;
}

.menu_left_link:link {
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #4E6DA1;
}

.menu_left_link:hover {
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: #4E6DA1;
   text-decoration: underline;
}

.err {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	color: red;
}
.confirm {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	color: green;
}
.grayout {
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
}

.tablehead{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   color: #FFFFFF;
   background-color: #009108;
   text-decoration: none;
}

.tablehead td{
	padding:3px;
}
.regular{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   color: #000000;
   text-decoration: none;
}
.regular td{
	padding:3px;
}
.left_menu{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   background-color: #DEDEDE;
   padding-left: 10px;
}
.menu_title{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 16px;
   color: #000000;
   font-weight: bold;
}
.page_title{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 16px;
   color: #FE0000;
   font-weight: bold;
}
.main_content {
	padding-top: 5px;
	padding-left: 5px;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.main_top{
	background-color: #FFFFFF;
}
.top_menu_back{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   background-color: #00A008;
}
.alternate_back{
   font-family: Arial, Verdana, Helvetica, sans-serif;
   font-size: 12px;
   background-color: #DEDEDE;
}
.left_frame_logo{
	background-image: url(../images/left_frame_pluto_logo.jpg);
	background-repeat:no-repeat;
	background-position: bottom left;
	background-color: #FFFFFF;
}
fieldset
{
	border: 1px solid #781351;
}

legend
{
	margin-top:5px;
	color: #FFFFFF;
	background: #000000;
	border: 1px solid #781351;
	padding: 2px 6px
}

table.regular_table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: #EFEFEF;
}

/**************** menu coding *****************/
#menu {
width: 100%;
background: #00A008;
float: left;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
width: 10em;
float: left;
}

#menu a, #menu h2 {
font: bold 11px arial, helvetica, sans-serif;
display: block;
border-width: 0px;
border-style: solid;
border-color: #36AF3B #36AF3B #78CB01 #36AF3B;
margin: 0;
padding: 3px 3px;
}

#menu h2 {

}

#menu a {
color: #E7FF80;
background: #36AF3B;
text-decoration: none;
border-width: 1px;
border-style: dotted;
border-color: #36AF3B #36AF3B #78CB01 #36AF3B;
}

#menu a:hover {
color: #E7FF80;
background: #78CB01;
}

#menu a.topitem {
font: bold 11px arial, helvetica, sans-serif;	
color: #FFFFFF;
background: #00A008;
text-decoration: none;
border-width: 0px;
border-color: #36AF3B #36AF3B #36AF3B #36AF3B;
}

#menu a.topitem:hover {
background: #78CB01;
color: #000000;
}

#menu li {position: relative;}

#menu ul ul {
position: absolute;
z-index: 500;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
}

#menu ul li:hover, ul li.CSStoHighlight {
  background-color: #78CB01;      /* gives the active menu items a yellow background */
  color: #000;                 /* makes the active menu item text black */ 
}


div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}
