<HTML>
<HEAD>

<meta http-equiv="Content-Language" content="en">        
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 03 Jan 2000 00:00:01 GMT" />
        <meta name="keywords" content="">
		<meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        {MetaTags}
<title>{Title}</title>		
	<FRAMESET cols="250,*" onResize="if (navigator.family == 'nn4') window.location.reload()" border="1"> 
  		<FRAME src="{LeftFrame}" name="treeframe" > 
  		<FRAME SRC="{RightFrame}" name="basefrm"> 
	</FRAMESET>	
</HTML>