Source: lshwd
Section: base
Priority: optional
Maintainer: LinuxMCE Developers <developers@linuxmce.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: lshwd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, usbutils, pciutils
Description: lshwd - lists hardware devices and their approp modules.
 lshwd is a simple device lister with some very handy options. ideally, 
 its functionality should be similiar to kudzu/hwsetup but without the lag.
 when used with '-a' it should auto-load approp modules. lshwd is intended 
 for anyone who wants to quickly check for his hardware specific modules 
 without too much hastle
