Source: lirc-pluto
Section: unknown
Priority: optional
Maintainer: root <root@unknown>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lirc-pluto
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, liblircclient0, liblircclient-dev, lirc, lirc-modules-2.6.20-15-generic | lirc-modules-2.6.22-14-generic
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
