Source: lirc-pluto
Section: unknown
Priority: optional
Maintainer: LinuxMCE Developers <developers@linuxmce.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: lirc-pluto
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, liblircclient0, liblircclient-dev, lirc
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
